#ffeedback {
  position: fixed;
  bottom: 59px;
  right: 42px;
  z-index: 1102;
  text-shadow: none; /* ~bookin */
  line-height: 1.5; /* ~agenda */

  * {
    box-sizing: border-box !important; /* ethercalc, etherpad */
  }

  .btn {
    border: none;
    border-radius: 0;
    text-transform: uppercase;
  }

  .fa {
    padding: 0; /* ~board */
  }

  .fa-inverse {
    color: #fff; /* ~board */
  }

  .fa-stack .fa-stack-2x { /* ~colibri */
    height: inherit;
    width: inherit;
    margin-top: 0;
    margin-left: 0;
  }

  .form-control {
    max-width: 100%; /* ~board */
  }

  .row {
    width: auto; /* ~carte */
    max-width: none; /* ~carte */
  }

  .dropdown-toggle {
    display:block;
    opacity: .9;
    transition: all .2s ease-out;
    text-align: center;
    height: 44px;
    line-height: 42px;
    border-radius: 21px;
    padding: 0 20px;
    background-color: $orange;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(50,54,63,.19),0 6px 18px 0 rgba(50,54,63,.39);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border: none; /* dio */

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }

    .fa {
      margin: 0 -10px;
      line-height: 42px; /* ~pack */
      vertical-align: top; /* ~pack */
    }

    .fa-life-ring + span {
      margin: 0 -10px 0 10px;
      display: inline-block;
    }
  }

  .dropdown-menu {
    width: 400px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 3px solid $orange;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background: lighten($orange, 37%);
    padding: 0;

    span {
      color: #333; /* ~colibri */
    }

    a:not(.btn) {
      display: inline;
      padding: 0;
    }

    &:after {
      position: absolute;
      content: '';
      right: 50px;
      bottom: -13px;
      width: 0;
      height: 0;
      border-bottom: 12px solid transparent;
      border-right: 24px solid $orange;
    }
  }

  .dropdown-header {
    padding: 0;
    background: $orange;
    color: #fff;

    div {
      padding-top: 0; /* ~blog */
    }

    span {
      font-size: 18px;
      line-height: 32px;
    }

    .btn-link {
      padding: 0; /* ~agenda */
    }
  }

  .dropdown-body {
    width: 100%;
    max-height: 480px;
    overflow-y: auto;
    color: #333;
  }

  .dropdown-footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  .subtitle {
    color: #fff;
    background: $orange;
    text-align: center;
    padding: 0 15px 30px;
    margin:-15px;
    font-size: 14px;
  }

  #ffb-participate .btn,
  .no-answer .btn {
    white-space: normal;
    background: #fff;
    font-size: 13px;
    opacity: 0.8;

    &:hover {
      box-shadow: 0px 2px 6px lighten($orange, 25%);
      opacity: 0.9;
    }

    .fa-stack {
      font-size: 1.7em;
    }
  }

  .input-group {
    margin: 0; /* ~listes */
  }

  .search-form {
    margin: 0; /* ~forms, soutenir~ (drupal) */

    .input-group-addon,
    input {
      border-radius: 0;
      background: #fff;
      border: none;
      box-shadow: none;
      font-size: 16px;
    }
  }
}

#ffeedback.open .dropdown-toggle {
  transform: scale(1.1);
  opacity: 1;
}

/* Mobile ≈ full viewport */
@media (max-width: 640px) {
  #ffeedback {
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;

    .dropdown-toggle {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .dropdown-menu {
      width: 100%;
      height: calc(100% - 50px - 20px);
      position: absolute;
      bottom: 50px;
    }

    .dropdown-body {
      max-height: calc(100% - 89px);
    }
  }
}

@import "feedback/main";
@import "feedback/docs";
@import "feedback/faq";
@import "feedback/participate";
@import "feedback/contact";

#framanav_donation {
  display: none !important;
}

#back-to-top, /* dio */
#topcontrol, /* ~blog, ~book, ~zic */
.scroll-top-wrapper { /* ~listes */
  display: none;
}