[data-url*="://framagenda.org"],
[data-url*="://framablog.org"],
[data-url*="://framabook.org"],
[data-url*="://framabookin.org"],
[data-url*="://framadvd.org"],
[data-url*="://framadrive.org"],
[data-url*="://framakey.org"],
[data-url*="://framasoft.org"],
[data-url*="://framastats.org"],
[data-url*="://framateam.org"],
[data-url*="://framavox.org"],
[data-url*="://framazic.org"],
[data-url*="://contact.framasoft.org"],
[data-url*="://status.framasoft.org"],
[data-url$="test/verbose-fixed.html"] {
  body {
    padding-top: 42px;
  }

  #f-nav {
    position: fixed;
    top: 0;
    z-index: 1042;
    width: 100%;
  }
}

/* Wordpress */
[data-url*="://framablog.org"],
[data-url*="://framabook.org"],
[data-url*="://framadvd.org"],
[data-url*="://framakey.org"],
[data-url*="://framazic.org"] {
  /* Admin navbar */
  .logged-in.admin-bar #f-nav {
    padding-top: 32px;
  }
}
