#f-- {
  font-size: 100%;
}

#f-- .f-bs4 {
  $primary:       #635182 !default;

  $danger:        #CC2D18;
  $info:          #11809E;
  $warning:       #EB7239;
  $success:       #677835;

  @import 'frameworks/bootstrap4-nav';

  /* Fix conflicts */
  .modal-backdrop {
    opacity: 0.5;
  }

  .popover > .arrow,
  .popover > .arrow:after {
    border-style: none;
  }

  /* Frama */
  .btn-soutenir {
    color: #fff !important;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: #DBA306;
    border-color: #DBA306;

    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background-color: #C48a1b;
      border-color: #C48a1b;
    }
  }

}

#f-nav.f-bs4 {
  /* Colors */
  .violet, .frama { color: $violet; }
  .orange, .soft { color: $orange; }


  // @import 'feedback/feedback';

  #f-header {
    height:42px;
    font-family: 'Roboto';
    background-color: #fafafa;
    border-bottom:1px solid #bdbdbd;
  }

  #f-navbar {
    font-size: 14px;
    text-align: justify;
    display: flex !important;
    min-height: 30px;
    margin-bottom: 0;
    padding: 0;
    height: 42px;
    width: auto;
    z-index: 1002;
    background-color: #fafafa;
    border-radius: 0;
    border: none;
    border-bottom:1px solid #bdbdbd;
    max-width: 1170px;
    margin: auto;

    .navbar-brand {
      font-weight: bold;
      font-family: "DejaVu Sans",Verdana,Geneva,sans-serif;
      height: 40px;
      padding:0;
      line-height:40px;
      font-size: 20px;
      margin-right:15px;
      text-decoration: none;

      img {
        margin: 0;
        width: 38px;
        height: 38px;
        border:none;
        display: inline-block;
        vertical-align: top;
      }

      b {
        border:none;
        display: inline;
        vertical-align: top;
      }
    }

    li {
      margin: 0;
    }

    .dropdown {
      margin: 0 5px;

      .dropdown-toggle:after {
        display: block;
        width: 0.3em;
        margin: 3px auto -3px;
        visibility: hidden;
      }

      @media (min-width:768px) {
        &:hover .dropdown-toggle:after {
          visibility: visible;
        }
      }
    }

    .dropdown-menu {
      min-width: 140px;
      padding : 5px 0px;
      left: 0;
      top: 100%;
      bottom: auto;
      width: auto;

      li {
        font-size: 14px;
        text-align: justify;
        display: block;
        width: auto;
        padding: 0;
        background-color: #fff;
        border: none;

        .fa {
          opacity: 1;
          margin-right: 0;
        }

        a {
          color: #444;

          &:hover {
            color: #fff;

            .fa {
              color: #fff;
            }
          }

        }
      }

      > li > a { padding: 5px 10px; }
    }

    #fs_logiciel .dropdown-menu li a:hover { background-color: $bleu; }
    #fs_culture .dropdown-menu li a:hover { background-color: $rouge; }
    #fs_services .dropdown-menu li a:hover { background-color: $vert; }
    #fs_follow .dropdown-menu li a:hover { background-color: $violet; }
    #fs_about .dropdown-menu li a:hover { background-color: $orange; }

    #fs_logiciel .dropdown-menu li.fs_evl a:hover,
    #fs_logiciel .dropdown-menu li.fs_clibre a:hover,
    #fs_logiciel .dropdown-menu li.fs_vvl a:hover,
    #fs_culture .dropdown-menu li.fs_ptilouk a:hover,
    #fs_culture .dropdown-menu li.fs_evl a:hover,
    #fs_culture .dropdown-menu li.fs_planet a:hover,
    #fs_follow .dropdown-menu li.fs_colibri a:hover,
    #fs_follow .dropdown-menu li.fs_wikifs a:hover {
      background-color: $jaune;
    }

    #f-collapse {
      padding: 0;

      @media (max-width:768px) {
        &.show {
          background: #eee;
          padding: 10px;
          margin-top: 1px;
          border-bottom: 1px solid #bdbdbd;
        }
      }
    }

    .navbar-toggler {
      border-color: transparent;
    }

    .dropdown-menu {
      .fs_start, .fs_zic,
      .fs_diolist, .fs_slides, .fs_maestro, .fs_carte, .fs_petitions,
      .fs_bag, .fs_news, .fs_minetest, .fs_drive, .fs_clic,
      .fs_wikipedia,
      .fs_stats, .fs_status, .fs_moderation {
        border-bottom: 1px solid #e5e5e5;
      }
    }

    @media (min-width: 768px) {
      #fs_services,
      #fs_about {
        .dropdown-menu {
          min-width: 340px;

          li {
            width: 50%;
            float: left;
          }
        }
      }

      #fs_services {
        ul {
          margin-left: -106px;
        }

        li.fs_diolist,
        li.dropdown-header {
          width: 100%;
          text-align: center;
          padding: 0;
        }
      }

      #fs_about {
        ul {
          margin-left: -124px;
        }

        li.fs_dio2, li.fs_cuo2,
        li.dropdown-header {
          width: 100%;
          text-align: center;
          padding: 0;
        }

        li.dropdown-header {
          border-bottom: 1px solid #e5e5e5;
          padding: 5px 0;
        }
      }
    }

    #btn-soutenir .btn-soutenir,
    #btn-benevalo .btn-info,
    #btn-myframa .btn-primary {
      min-width: 135px;
      height: 41px;
      line-height: 41px;
      font-size: 14px;
      color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      padding: 0px;
      border: none;
      text-align:center;
      border-radius: 0;

      &:hover, &:focus, &:active {
        color: #fff;
      }
    }

    #btn-soutenir .btn-soutenir {
      background-color: #DBA306;

      &:hover, &:focus, &:active {
        background-color: #C48a1b;
      }
    }

    #btn-benevalo .btn-info {
      background-color: #11809E;

      &:hover, &:focus, &:active {
        background-color: #0C5B7A;
      }
    }

    #btn-myframa .btn-primary {
      background-color: #6A5687;

      &:hover, &:focus, &:active {
        background-color: #635182;
      }

      span {
        line-height: 16px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    @media (max-width: 768px) {
      #btn-myframa, #btn-benevalo {
        width:auto;
        text-align:left;
      }
    }

    .popover {
      font-size: 14px;
    }

    .popover-header {
      font-size: 16px;
    }
  }
  //------------------------------------------------------------------------------
  #modal-don .new-window,
  #modal-contact .new-window,
  #f-navbar .dropdown-menu li a .new-window { /*a:not(.modal-link)*/
    visibility: hidden;
    font-size: 10px !important;
  }

  #modal-don:hover .new-window,
  #modal-contact:hover .new-window,
  #f-navbar .dropdown-menu li a:hover .new-window,
  #modal-don:focus .new-window,
  #modal-contact:focus .new-window,
  #f-navbar .dropdown-menu li a:focus .new-window {
    visibility:visible;
  }

  @media (max-width: 768px) {
    #apropos span.hidden {
      display:inline !important;
      visibility:visible !important;
    }
  }

  #modal-soutenir p {
    font-size:14px !important;
  }

  /* --- on s'assure on a bien une nav collée en haut en cas de petit écran --- */
  @media (max-width: 979px) {
    body {
      margin-top: 0px !important;
    }
  }

  .sr-only-focusable:focus {
    width: auto;
    line-height: 20px;
    margin: 0 0 0 45px;
    padding: 10px 20px;
    background-color: #fafafa;
    color: #555;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    text-decoration:none;
    font-size:14px;
    position: absolute;
  }

  /* Modal header title */
  .modal-header h1,.modal-header h2,.modal-header h3,
  .modal-header h4,.modal-header h5,.modal-header h6, .modal-header p {
    font-size: 24px;
  }

  .fs_story {
    display:none !important;
  }

  .fs_clic, .fs_petitions {
    visibility: hidden;
  }
}

.f-bs4 #f-footer {
  padding:20px 0 20px 0;
  margin:0;
  background:#dfdfdf;
  color:#333;
  font-size:14px;
  width:100%;
  max-width:100%;
  bottom:0;
  border-top:1px solid #ccc;
  height:auto;
  text-align:left;
  font-family: 'Roboto';

  .container {
    background:#dfdfdf;
    min-height:0px;
    padding: 0;
  }

  h1 {
    font-size:16px;
    font-weight:bold;
    margin-top:0;
  }

  h2 {
    font-size:16px;
    font-weight:bold;
  }

  a {
    color:#333;
    text-decoration:none;
    border-bottom:none;
    font-size:14px;

    .fa-fw {
      padding:5px;
      width:36px;
      height:36px;
      text-decoration:none;
    }

    &:hover, &:focus {
      color:#333;
      text-decoration: underline;

      .fa {
        background:#6A5687;
        color:#fff;
        border-radius:5px;
      }
    }
  }

  .btn {
    margin-top:0;
  }

  .popover, .input-group {
    font-size: 14px;
  }

  .popover-header {
    font-size: 16px;
  }
}

/* Opt-in */
#fp-optin {
  .alert {
    margin-top:10px;
    margin-bottom:10px;
    font-size:13px;
    padding:10px;
    line-height: 17px;

    a, a:hover {
      color: #0C5B7A;
      font-weight: bold;
    }

    &.alert-info {
      color: #0C5B7A;
      background-color: #E1F8FC;
      border-color: #B2D5DB;
    }

    &.alert-danger {
      color: #AB2909;
      background-color: #fde0dc;
      border-color: #E0B3A8;
    }

    &.alert-success {
      color: #304219;
      background:#E3EBC7;
      border-color: #C0D481;
    }
  }

  #commentform {
    .alert {  /* wordpress */
      min-width: 555px;
    }
  }

  #f-optin {
    font-family: 'Roboto';

    small {
      font-size:11px;
    }

    input {
      margin:0;
      width:auto;
      display:inline-block;
    }

    label {
      float: none;
      width: auto;
      text-align: left;
      font-weight: normal;
      margin: 0px 0px 0px 5px;
      white-space: normal;
      color: #0C5B7A;
    }
  }
}

/* Display nav and footer only when CSS is ready */
#f-navbar[style*="display: none"] {
  display: flex !important;
}

#fp-footer[style*="display: none"] {
  display: block !important;
}

#f-- #f-alert {
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-radius:0 !important;
  font-family: 'Roboto';

  &.alert-info.black {
    color: #fff !important;
    background-color:  #010001 !important;
    border-color: #010001 !important;

    .saveyourinternet {
      width: 100%;
      display: block;
      background-color:  #010001 !important;
      border-color: #010001 !important;
      text-align: center;

      &:hover, &:focus {
        background-color:  #010001 !important;
      }
    }
  }

  &.alert {
    margin-bottom:0;
    font-size:14px;
    line-height:20px;
    text-shadow:none;

    p {
      margin-bottom:5px;
      margin-top:0px;
    }

    a:not(.btn) {
      text-decoration: underline !important;
      -moz-text-decoration-style: dotted;
      -webkit-text-decoration-style: dotted;
      -ms-text-decoration-style: dotted;
      text-decoration-style: dotted;

      &:hover, &:focus {
        text-decoration: underline !important;
        -moz-text-decoration-style: solid;
        -webkit-text-decoration-style: solid;
        -ms-text-decoration-style: solid;
        text-decoration-style: solid;
      }
    }
    a {
      font-weight:inherit !important;
    }
  }

  &.alert-success a:not(.btn),
  &.alert-success a:hover:not(.btn),
  &.alert-success {
    color: #304219;
    background:#E3EBC7;
    border-color: #C0D481;
  }

  &.alert-info a:not(.btn),
  &.alert-info a:hover:not(.btn),
  &.alert-info {
    color: #0C5B7A;
    background-color: #E1F8FC;
    border-color: #B2D5DB;
  }

  &.alert-warning a:not(.btn),
  &.alert-danger a:hover:not(.btn),
  &.alert-warning {
    color: #A15014;
    background-color: #FFEBB5;
    border-color: #FFCF4F;
  }

  &.alert-danger a:not(.btn),
  &.alert-danger a:hover:not(.btn),
  &.alert-danger {
    color: #AB2909;
    background-color: #fde0dc;
    border-color: #E0B3A8;
  }

  &.alert-dismissible .close {
    right: 0px;
    margin-right: 5px;
    margin-top: -5px;
  }

  & .clearfix {
    height:auto !important;
    overflow:visible !important;
  }

  & > div {
    margin:0 auto;
    max-width:800px;
  }
}

/* Modal fix */
.modal-open #f-header,
.modal-open #ffeedback .dropdown-menu,
.modal-open #ffeedback .dropdown-toggle {
  visibility:hidden;
}

.fa-drag-handle:before {
  content: "\f142 \f142";
  letter-spacing: 0.1em;
}

.moveable-control-box {
  display: none !important;
}