/* Opt-in */
#fp-optin {
  .alert {
    margin-top:10px;
    margin-bottom:10px;
    font-size:13px;
    padding:10px;
    line-height: 17px;

    a, a:hover {
      font-weight: bold;
    }
  }

  #commentform {
    .alert {  /* wordpress */
      min-width: 555px;
    }
  }

  #f-optin {
    font-family: 'Roboto';

    small {
      font-size:11px;
    }

    input {
      margin:0;
      width:auto;
      display:inline-block;
    }

    label {
      float: none;
      width: auto;
      text-align: left;
      font-weight: normal;
      margin: 0px 0px 0px 5px;
      white-space: normal;
    }
  }
}