.f-bs4 #f-fb-menu {
  padding: 1rem;

  #f-fb-top:focus {
    outline: 0;
  }

  #f-fb-participate,
  .no-answer {
    .btn {
      white-space: normal;
      background: #fff;
      opacity: 0.8;
      text-align: center;
      margin-bottom: 1rem;

      &:hover {
        box-shadow: 0px 2px 6px lighten($orange, 25%);
        opacity: 0.9;
      }

      .fa-stack {
        font-size: 1.7em;
      }
    }
  }

  .input-group {
    margin: 0; /* ~listes */
  }

  .search-form {
    margin: 0; /* ~forms, soutenir~ (drupal) */
    width: 100%;

    .input-group-append .btn,
    .form-control {
      border-radius: 0;
      background: #fff;
      border: none;
      box-shadow: none;
    }
  }
}

@import "faq";
@import "participate";
@import "contact";
