[data-url*="://framacalc.org"]:not([data-url*="framacalc.org/abc"]),
[data-url*="://lite.framacalc.org"] {
  background: #fff;

  [onresize] { /* dans Ethercalc */
    background: #fff;
    // overflow: hidden;

    *, *:before, *:after {
      -webkit-box-sizing: content-box !important;
      -moz-box-sizing: content-box !important;
      box-sizing: content-box !important;
    }
  }
}
