/* Cartes publiques
[data-url*="://framacarte.org/"][data-inframe="false"] .map_detail,
[data-url*="://beta.framacarte.org/"][data-inframe="false"] .map_detail {
  .leaflet-top {
    top: 42px;
  }

  #umap-alert-container {
    top: 42px;
  }

  #umap-tooltip-container {
    top: 102px;
  }
} */

/* Cartes mode édition
[data-url*="://framacarte.org/"][data-inframe="false"] .umap-edit-enabled,
[data-url*="://beta.framacarte.org/"][data-inframe="false"] .umap-edit-enabled {
  .umap-main-edit-toolbox {
    top:42px;
  }

  .leaflet-top {
    top: 90px;
  }

  #umap-ui-container {
    top: 88px;
  }
} */

/* Hide the login form */
[data-url*="://framacarte.org/"],
[data-url*="://beta.framacarte.org/"]{
  // .login-panel h5:first-of-type,
  // .login-panel #login_form {
  //   display: none;
  // }

  // .big-title a {
  //   align-items: center;
  //   display: flex;
  //   font-size: inherit;

  //   &::before {
  //     // content: '';
  //     background: url('https://framasoft.org/nav/img/icons/ati/sites/carte.svg') no-repeat center;
  //     width: 3.5rem;
  //     display: block;
  //     height: 3.5rem;
  //     background-size:cover;
  //     margin-right: .5rem;
  //   }
  // }

  // .big-title b {
  //   font-size: 2rem;
  // }

  // .vert, .rouge, .soft {
  //   color: var(--f-orange);
  // }

  // .col-md-4 {
  //   display:flex;
  //   flex-direction: column;
  // }

  // .carousel-caption,
  // .col-md-4 p {
  //   font-size: 1rem;
  //   font-weight: 400;
  //   line-height: 1.5;
  // }

  // h2 {
  //   color: var(--f-f7);
  //   font-size: 1.75rem;
  // }

  // p[role="presentation"] {
  //   order:-1;
  //   margin-top: 3.5rem;
  //   margin-bottom: 0
  // }

  // ol { margin-left: 1.5rem; }

  // .col-md-4 .glyphicon {
  //   padding: 0.5em!important;
  //   border-width: 0.2em!important;
  //   border-style: solid;
  //   border-color: var(--f-f6);
  //   border-radius: 50%;
  //   color: var(--f-f7) !important;
  //   font-size: 2rem !important;
  // }

  // .col-md-4:nth-of-type(2) .glyphicon {
  //   border-color: var(--f-o5);
  //   color: var(--f-o6) !important;
  // }

  // .btn-primary {
  //   background: var(--f-f7);
  //   border-color:  var(--f-f7);

  //   &:hover,
  //   &:focus {
  //     background: var(--f-f8);
  //     border-color:  var(--f-f8);
  //   }
  // }

  // .ombre {
  //   p > a:not(.btn):not(.login-openstreetmap),
  //   p > small a:not(.btn):not(.login-openstreetmap),
  //   li:not([class]) > a:not(.btn):not(.login-openstreetmap),
  //   li:not([class]) > small a:not(.btn):not(.login-openstreetmap) {
  //     color: var(--f-d9);
  //     text-decoration: none;
  //     background-image:
  //       linear-gradient(var(--f-o5),var(--f-o5)),
  //       linear-gradient(var(--f-g5),var(--f-g5));
  //     background-size: 0% 2px, 100% 2px;
  //     background-position: center bottom, center bottom;
  //     transition: background-size 0.25s ease-in-out;
  //     background-repeat: no-repeat;
  //     padding-top: 2px;
  //     padding-bottom: 2px;

  //     &:hover, &:focus {
  //       color: var(--f-g9);
  //       text-decoration: none;
  //       background-size: 100% 2px;
  //     }
  //   }
  // }
  // /* Pop-up qui donne le lien d’édition anonyme */
  // #umap-alert-container .umap-alert-actions {
  //   color: black;
  // }

  #fp-alert #f-alert button {
    width: auto;
  }
}
