[data-url*="://framacolibri.org"] {
  #reply-control.fullscreen {
    z-index: 1005;
  }

  #discourse-modal.in {
    display: block !important;
    visibility: visible !important;
  }

  #draft-status {
    height: 25px;
  }

  .modal.hidden[style*="block"] {
    display: block !important;
  }

  #main .container {
    width: auto;
  }

  /* #main .row {
    margin:inherit !important;
  }*/

  body {
    background-color: var(--f-g3);
    font-size: 0.938rem;
  }

  #main-outlet {
    background-color: #FFF;
    -webkit-box-shadow: var(--f-shadow);
    -moz-box-shadow: var(--f-shadow);
    box-shadow: var(--f-shadow);
    padding: 1.5rem 2rem;
  }

  #reply-control {
    background-color: var(--f-g4);
  }

  .open .grippie {
    background-color: var(--f-g6);
  }

  .category .bullet,
  .main-link a,
  .topic-stats a,
  .category-navigation a,
  .num a,
  .menu-panel a,
  .topic-meta-data a,
  .category-breadcrumb a {
    text-decoration:none;
  }

  /* 
  .select-kit-body[style] { 
    left: auto !important;
  } 
  */
}
