[data-url*="://framadate.org"],
[data-url*="://test.framadate.org"] {
  #message-container .well {
    display: none;
  }

  .container.ombre h2::after {
    content: none;
  }

  .container.ombre {
    padding-top: 30px !important;
  }

  @media (max-width: 720px) {
    .container.ombre {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
  }
}
