[data-url*="://framaforms.org"] {
  #admin-menu {
    z-index: 1003;
  }
}

[data-url$="://framaforms.org/livre-dor-temoignages-1684758996"] {
  #block-yakforms-yakforms-contact-form-block,
  #block-yakforms-yakforms-no-password .content {
    display: none;
  }
}