[data-url*="://framagroupes.org"] {
  header h1.medium-offset-3.medium-9,
  main#content-inner.medium-9,
  section.home-submenu ul.row,
  header .row,
  main.row {
    background-color: #FFF;
    -webkit-box-shadow: var(--f-shadow);
    -moz-box-shadow: var(--f-shadow);
    box-shadow: var(--f-shadow);
  }

  .home-submenu {
    margin-top: -30px !important;
  }

  header h1 {
    margin-top: 30px;
  }

  h1:not(.big-title) {
    font-size: 2.4em;
  }

  main {
    margin-bottom: 30px;
  }

  body > footer {
    display: none;
  }

  #framafooter[style] {
    position: relative !important;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  fieldset button {
    line-height: normal;
  }

  .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    right: 0;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
  }
}
