/* Drawio */
[data-url*="://drawio.framalab.org"] {
  #f-sidebar,
  #f-footer,
  #f-footer[style] {
   display: none !important;
  }
}

/* Excalidraw */
[data-url*="://excalidraw.framalab.org"] .excalidraw .App-menu_top {
  padding-right: 45px;
}

/* IHateMoney */
[data-url*="://ihm.framalab.org"] .navbar {
  padding-right: 55px;
}

/* Split */
[data-url*="://split.framalab.org"] body > header {
  padding-right: 55px;
}

/* Signature PDF */
[data-url*="://signature-pdf.framalab.org"] {
  &, body {
    background-color: var(--bs-body-bg);

    #page-upload > *:first-child {
      margin-right: 3.5rem !important;
    }
  }
}

/* Stirling PDF */
[data-url*="://stirling-pdf.framalab.org"] {
  &:root {
    --md-sys-color-primary: #725794;
    --md-sys-color-on-primary: #fff;
    --md-sys-color-secondary: #4a5268;
    --md-sys-color-on-secondary: #fff;
  }

  h6, h5 {
    color: var(--md-sys-color-on-surface) !important;
  }

  button.navbar-toggler {
    margin-right: 2.5rem; /* Make room for Framanav */
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--md-sys-color-surface);
      color: var(--md-sys-color-on-surface);
    }
  }

  // Fixes for the Frama modal
  #f-modal-info .modal-content {
    .modal-header {
      background: #fff;
      .modal-title {
        color: #4a5268 !important;
      }
    }

    .modal-body, .modal-footer {
      background: #fff;
      color: #1f1f1f;
    }
  }
}

/**
 * Beta of Framaforms based on Liberaforms
 */
[data-url*="://beta.framaforms.org"] {
  /* Because the header is fixed to the top */
  #fp-alert {
    margin-top: 3.5rem !important;
  }
}