[data-url^="http://localhost"],
[data-url*=".frama.io/framanav/"] {
  body {
    margin: 0;
  }
}

[data-url^="http://localhost"][data-inframe="true"] {
  body {
    background: var(--f-b2);
  }
}

[data-url^="http://localhost"][data-url$="home.html"] {
  body {
    background: var(--f-g3);
  }
}
