[data-url$=".framapad.org/"] body {
  background: #63d39b !important;
}

[data-url*=".framapad.org/p/"] {
  #editorcontainerbox {
    background: var(--f-g3) !important;
  }

  #editorloadingbox {
    background: var(--f-g3) !important;
    height: 100%;

    #loading {
      max-width: 900px;
      margin: 0 auto;
      font-size: 1.5rem;
      color: var(--f-g6);
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  #editorcontainer, #padmain, #toc {
    background: transparent !important;
  }

  #toc[style*="block"] {
    background: var(--f-g2) !important;
  }

  .timeslider #timeslider-top {
    background: #fff;
  }
}

[data-url*=".framapad.org/p/"][data-inframe="false"] {
  *, *:before, *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }

  .toolbar ul li select {
    height:20px !important;
  }

  #helpbubbleslink > .buttonicon {
    font-size: 18px !important;
  }

  .toolbar ul li a .buttonicon {
    top: -2px !important;
  }

  .popup label {
    margin-bottom:0px;
    font-weight:normal;
  }

  .popup input[type="text"] {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  .popup h1, .popup h2 {
    margin-top:0px;
    margin-bottom:0px;
  }
}

[data-url*=".framapad.org/p/"] {
  /* Hide .doc export (bug avec libreoffice de Stretch) */
  #exportworda {
    display: none;
  }
}

[data-url*="mypads.framapad.org/mypads/"],
[data-url*="mypads2.framapad.org/mypads/"] {
  .container-fluid.ombre {
    box-shadow: none;
    padding-bottom: 15px;
    height: 100vh;
  }

  button.btn-link[title] {
    background: transparent;
  }

  header h1 {
    margin-top: 0;
  }

  @media (min-width: 720px) {
    header .container.ombre {
      margin-top: 20px !important;
    }

    footer.container.ombre {
      margin-bottom: 20px !important;
    }
  }
}

@media (max-width:600px) {
  html[data-url*=".framapad.org/p/"] {
    overflow: initial;
  }
}
