[data-url*="://framapiaf.org/about"] {
  .public-layout {
    font-family: Roboto,sans-serif;
    color: #1f1f1f;
    background: #e2e8f0;

    .btn-link,
    p > a:not(.btn),
    li:not([class]) > a:not(.btn) {
      color: var(--f-d9);
      fill: var(--f-d8);
      text-decoration: none;
      background-image:
        linear-gradient(var(--f-f5),var(--f-f5)),
        linear-gradient(var(--f-g5),var(--f-g5));
      background-size: 0% 2px, 100% 2px;
      background-position: center bottom, center bottom;
      transition: background-size 0.25s ease-in-out;
      background-repeat: no-repeat;
      padding-top: 2px;
      padding-bottom: 2px;

      &:hover, &:focus {
        color: var(--f-g9);
        fill: var(--f-g8);
        text-decoration: none;
        background-size: 100% 2px;
      }
    }

    .footer {
      color: var(--f-g6);

      h4,
      .grid .column-2 h4 {
        color: var(--f-g7);

        a {
          color: var(--f-g6);

          &:hover, &:focus {
            color: var(--f-g7);
          }
        }
      }

      .brand svg {
        fill: var(--f-g6);
      }

      li {
        margin-bottom: .4rem
      }
    }
  }

  #internav a {
    background: none;
  }

  .ombre{
    header {
      h2.lead {
        margin-top: 0;

        &::after {
          content: none;
        }
      }
    }

    .btn .glyphicon-lock { /* Bypass unclosed tag <i> */
      font-family: Roboto,sans-serif;

      &::before {
        font-family: 'Glyphicons Halflings';
      }
    }

    .alert-warning a {
      display: block;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .carousel {
    background: #edf2f7;
    margin: 30px 0 30px;

    img {
      margin: 15px 0 0;
      padding: 0 20px;
      width: 100%;
      max-height: 350px;
    }

    .carousel-control {
      opacity: 1;
    }

    .right {
      background: transparent;
    }

    .left {
      background: transparent;
    }

    .glyphicon {
      color: #fff;
      background: #677890;
      border-radius:50%;
      font-size: 1.3rem;
      width: 2rem;
      height: 2rem;
      padding: 5px;
      text-shadow: none;
    }

    .glyphicon-chevron-right {
      right: -5px;
    }

    .glyphicon-chevron-left {
      left: -5px;
    }
  }

  #play-pause .carousel-control {
    top: auto;
    bottom: 20px;
    background: none;
    z-index: 1;

    .glyphicon {
      background: #677890;
    }
  }

  .carousel-caption {
    background: #edf2f7;
    padding-top:15px;
    padding-bottom: 15px;
    position: relative;
    text-shadow: none;
    border: none;
    left: auto;
    right: auto;
    bottom: auto;

    p {
      color: #4a5568 !important;
      font-size: 1.2rem !important;
    }
  }

  /* Header logo */
  header a[href="/"] b { /* Hide green Framapiaf */
    display: none;
  }

  header a[href="/"] {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background: url('https://framasoft.org/nav/img/icons/ati/sites/piaf.svg');
    background-size: cover;
    white-space: nowrap
  }

  header a[href="/"]::before {
    color: var(--f-f7);
    content: 'Frama';
    display: inline-block;
    font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-left: calc(3.5rem + .25rem);
    padding-top: .75rem;
  }

  header a[href="/"]::after {
    color: var(--f-o7);
    content: 'piaf';
    display: inline-block;
    font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-top: .5rem;
  }
}

[data-url*="://framapiaf.org/auth"] {
  .logo-container a[href="/"] svg { /* Hide Mastodon logo */
    display: none;
  }

  .logo-container a[href="/"] {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background: url('https://framasoft.org/nav/img/icons/ati/sites/piaf.svg');
    background-size: cover;
    white-space: nowrap;
    padding: 0;
    translate: -150%;
  }

  .logo-container a[href="/"]::before {
    color: var(--f-f7);
    content: 'Frama';
    display: inline-block;
    font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-left: calc(3.5rem + .25rem);
    padding-top: .75rem;
  }

  .logo-container a[href="/"]::after {
    color: var(--f-o7);
    content: 'piaf';
    display: inline-block;
    font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-top: .5rem;
  }
}

[data-url*="://framapiaf.org/"] .theme-default,
[data-url*="://framapiaf.org/"] .theme-default_column_fixed {
  /* Theme Framapiaf */
    /* layout */
  background: var(--f-g3);
  color: var(--f-d9);
  scrollbar-color: var(--f-f6) rgba(237,230,245,.25);

  .ui {
    background: var(--f-g3);
  }

  .drawer__header,
  .drawer__inner,

  .column-inline-form,
  .column>.scrollable,
  .getting-started,
  .regeneration-indicator {
    border: none;
  }

  .drawer__inner__mastodon img {
    display: none;
  }

  .drawer__inner__mastodon {
    background: url('https://framasoft.org/nav/img/icons/ati/sites/piaf.svg');
    background-repeat: no-repeat;
    background-position: 10% 95%;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--f-g2);
  }

  .notification__report {
    border-bottom: 1px solid var(--f-g4);
  }

    /* menus & dropdown */
  .column-header__button.active {
    color: var(--f-o7);
    border-radius: 0 4px 0 0;

    &:active,
    &:focus,
    &:hover {
      color: var(--f-o8);
    }
  }

  .account__section-headline,
  .notification__filter-bar,

  .follow_requests-unlocked_explanation {
    background: var(--f-o1);
    border-bottom: 1px solid var(--f-g4);
  }

  .account__section-headline a.active:before,
  .account__section-headline button.active:before,
  .notification__filter-bar a.active:before,
  .notification__filter-bar button.active:before {
    background: var(--f-o6);
  }

  .column-header__collapsible-inner {
    background: var(--f-f1);
    border: none;
    border-bottom: 1px solid var(--f-g4);
    color: var(--f-f8);
  }
  .setting-toggle__label,
  .column-settings__section {
    color: var(--f-f8);
  }

  .dropdown-menu__item a:active,
  .dropdown-menu__item a:focus,
  .dropdown-menu__item a:hover,
  .dropdown-menu__item button:active,
  .dropdown-menu__item button:focus,
  .dropdown-menu__item button:hover {
    background: var(--f-f7);
  }

    /* other components */
  .audio-player,
  .compose-form .spoiler-input__input,
  .compose-form__autosuggest-wrapper,
  .compose-form__poll-wrapper select,
  .poll__option input[type=text],
  .report-dialog-modal__textarea,
  .search__input, .setting-text {
    border: 1px solid var(--f-g4);
    background: var(--f-o2);
  }

    /* link orange */
  .column-link--transparent.active,
  .reply-indicator__content a,
  .status__content a,
  .reply-indicator__content a.unhandled-link,
  .status__content a.unhandled-link,

  .empty-column-indicator a,
  .follow_requests-unlocked_explanation a,

  .status__wrapper-direct .status__prepend {
    color: var(--f-o7);
  }

    /* button purple */
  .simple_form .block-button,
  .simple_form .button,
  .simple_form button,
  .button {
    background-color: var(--f-f7);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--f-f8);
    }
  }
  /*  button secondary */
  .button-secondary {
    background: transparent;
    border-color: var(--f-f7);
    color: var(--f-f7);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--f-f8);
      color: #fff;
    }
  }

    /* icons orange */
  .icon-with-badge__badge {
    background: var(--f-o6);
    border: 2px solid var(--f-o1);
  }

  .react-toggle--checked .react-toggle-track {
    background-color: var(--f-o7);
  }

  .react-toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background: var(--f-o8);
  }
  .react-toggle--checked .react-toggle-thumb {
    border-color: var(--f-o8);
  }

  .conversation__unread {
    background: var(--f-o6);
  }

  .notification__message .fa {
    color: var(--f-o6);
  }

    /* cards & highlight */
  .conversation--unread,
  .status-card__image {
    background: var(--f-o2);
  }

  .status-card {
    border: 1px solid var(--f-g4);
    color: var(--f-f7);
  }

  a.status-card:active .status-card__author,
  a.status-card:active .status-card__description,
  a.status-card:active .status-card__host,
  a.status-card:active .status-card__title,
  a.status-card:focus .status-card__author,
  a.status-card:focus .status-card__description,
  a.status-card:focus .status-card__host,
  a.status-card:focus .status-card__title,
  a.status-card:hover .status-card__author,
  a.status-card:hover .status-card__description,
  a.status-card:hover .status-card__host,
  a.status-card:hover .status-card__title,
  .status-card a:active .status-card__author,
  .status-card a:active .status-card__description,
  .status-card a:active .status-card__host,
  .status-card a:active .status-card__title,
  .status-card a:focus .status-card__author,
  .status-card a:focus .status-card__description,
  .status-card a:focus .status-card__host,
  .status-card a:focus .status-card__title,
  .status-card a:hover .status-card__author,
  .status-card a:hover .status-card__description,
  .status-card a:hover .status-card__host,
  .status-card a:hover .status-card__title {
    color: var(--f-o7);
  }

  /* admin */
  .admin-wrapper .sidebar-wrapper__inner {
    background: var(--f-g3);
  }

  .admin-wrapper .sidebar > a[href="/"] img  {
    visibility: hidden;
  }
  .admin-wrapper .sidebar > a[href="/"] {
    background: url('https://framasoft.org/nav/img/icons/ati/sites/piaf.svg');
    background-size: cover;
    display: block;
    width: 6rem;
    height: 6rem;
    margin: 0 auto 3rem;
  }

  .admin-wrapper .content-wrapper, .admin-wrapper .sidebar-wrapper {
    background-color: var(--f-g2);
  }

  .admin-wrapper .content-wrapper .sidebar ul li a, .admin-wrapper .sidebar-wrapper .sidebar ul li a {
    color: var(--f-d9);
  }

  .admin-wrapper .content-wrapper .sidebar ul li a, .admin-wrapper .sidebar-wrapper .sidebar ul li a i {
    color: var(--f-g6);
  }

  .admin-wrapper .content-wrapper .sidebar>ul>li>a.selected, .admin-wrapper .sidebar-wrapper .sidebar>ul>li>a.selected {
    background-color: var(--f-o7);
    color: #fff!important;
  }

  .admin-wrapper .content-wrapper .sidebar>ul>li>a.selected, .admin-wrapper .sidebar-wrapper .sidebar>ul>li>a.selected i {
    color: #fff;
  }

  .admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
    background-color: var(--f-o2);
    color: var(--f-d9)!important;
  }

  .admin-wrapper .content__heading__tabs a.selected {
    background: var(--f-f7);
  }

  .flash-message {
    background: #fff;
    border-left: .5rem solid var(--f-o5);
  }

  .flash-message.notice {
    background: var(--f-v1) !important;
    border: 1px solid var(--f-v3) !important;
    color: var(--f-v7);
  }

  .simple_form input[type=email],
  .simple_form input[type=number],
  .simple_form input[type=password],
  .simple_form input[type=text],
  .simple_form textarea {
    background: #fff;
  }
  .simple_form select {
    background-color: #fff; /* keep arrows visible */
  }

  .filters .filter-subset a.selected {
    border-bottom: 2px solid var(--f-o5);
    color: var(--f-o7);
  }

  .accounts-table .fa.active.passive {
    color: var(--f-o6);
  }

  .applications-list__item, .filters-list__item {
    background: #fff;
    border: 1px solid var(--f-g4);
  }

  .batch-table__row:nth-child(2n),
  .table td, .table th {
    background: #fff;
    border-top: 1px solid var(--f-g2);
  }

  .batch-table .nothing-here, .batch-table__row, .batch-table__toolbar,
  .table>tbody>tr:nth-child(odd)>td, .table>tbody>tr:nth-child(odd)>th {
    background: var(--f-g1);
  }

  .batch-table .nothing-here, .batch-table__row, .batch-table__toolbar {
    border-color: var(--f-g4);
  }

  .report-card {
    background: #fff;
  }

  .log-entry {
    background: #fff;
    border-bottom: 1px solid var(--f-g4);
  }

  .sparkline {
    background: #fff;
  }
  .dashboard__quick-access {
    background: var(--f-f7);
    &:active, &:focus, &:hover {
      background: var(--f-f8);
    }
  }

  /* layout-single-column */
  @media screen and (max-width: 1174px) {
    &.layout-single-column .ui__header {
      background: #fff;
      border-bottom: 1px solid var(--f-g4);
      padding-left: .5rem;
    }

    .columns-area__panels__pane--navigational .navigation-panel {
      background: var(--f-g2);
      border-inline-start: 1px solid var(--f-g4);
    }
  }
  /* logo */
  .ui__header__logo svg,
  .ui__header__logo img,
  .navigation-panel .logo { /* Hide Mastodon logo */
    display: none;
  }

  .ui__header__logo,
  .navigation-panel .column-link--logo {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: url('https://framasoft.org/nav/img/icons/ati/sites/piaf.svg');
    background-size: contain;
    background-repeat: no-repeat;
    white-space: nowrap;
    padding: 0;
    overflow: initial;
  }

  .ui__header__logo::before,
  .navigation-panel .column-link--logo::before {
    color: var(--f-f7);
    content: 'Frama';
    display: inline-block;
    font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: calc(2.5rem + .25rem);
    padding-top: .75rem;
    opacity: 1;
  }


  .ui__header__logo::after,
  .navigation-panel .column-link--logo::after {
    color: var(--f-o7);
    content: 'piaf';
    display: inline-block;
    font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: .75rem;
  }

  @media (max-width: 576px) {
    .ui__header__logo::before,
    .ui__header__logo::after {
      content: '';
    }
  }
}

[data-url*="://framapiaf.org/"] .theme-mastodon-light {
  .status__content {
    color: inherit;
  }

  .column-header>button {
    color: initial;
  }
}
