[data-url*="://status.framasoft.org"] {
  body.status-page {
    font-size: 0.875rem;
    color: var(--f-d9);
    background: var(--f-g3)
  }

  .tooltip {
    color: var(--f-g3);
    background: var(--f-d9);
    padding: .5rem;
    border-radius: .25rem;
  }
}