[data-url*="://framateam.org"] {
  &#f-- {
    background: initial;
  }

  &#f-- .f-bs4 {
    color: var(--f-d9);

    .lead { font-size: 21px;}

    .trait {
      height: 11px;
      border: none;
    }

    .btn-success {
      color: #fff !important;
    }
  }

  /************************* *
   * En dehors de Mattermost *
   * *********************** */
  .outMM {
    background: var(--f-g3) !important;

    #root {
      padding-bottom: 1rem;
    }

    &#ct-login {
      background: #fff
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="600px" height="600px" viewBox="0 0 100 100"><path d="M5.5 12a3.5 3.5 0 100-7 3.5 3.5 0 000 7zM6 46a2 2 0 10.001-3.999A2 2 0 006 46zM31.5 8a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-3 30a2 2 0 10.001-3.999A2 2 0 0028.5 38zm16-10a2.5 2.5 0 000-5 2.5 2.5 0 000 5zM40 17.5a1 1 0 100-2 1 1 0 000 2zm-10 31a1 1 0 100-2 1 1 0 000 2zm-12.5-25a1 1 0 100-2 1 1 0 000 2zM77.53 24.742a3.5 3.5 0 100-7 3.5 3.5 0 000 7zm-21.5-3.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm31.5 15.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm-22.5 11.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm28-38a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm-25 3.5a2 2 0 100-4 2 2 0 000 4zm23 35.5a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-37-16a1 1 0 100-2 1 1 0 000 2zM29.5 74a3.5 3.5 0 100-7 3.5 3.5 0 000 7zM8 70.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM39.5 86a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM17 97.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm28-38a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM20 63a2 2 0 10.001-3.999A2 2 0 0020 63zm23 35.5a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-37-16a1 1 0 100-2 1 1 0 000 2zM77.53 74.242a3.5 3.5 0 100-7 3.5 3.5 0 000 7zm-12.5 23.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm14.5-40a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-3 30a2 2 0 100-4 2 2 0 000 4zm14.5 11a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm1.5-21a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-4.5-10.5a1 1 0 100-2 1 1 0 000 2zm-34 15.5a1 1 0 100-2 1 1 0 000 2z" fill="%23e2e8f0" fill-opacity=".3"/></svg>') !important;
      position: relative;
      font-family: "Roboto", sans-serif;
      font-size: .875rem;

      /* Only show cloned elements */
      #fp-team-title,
      #fp-team-intro {
        &[style="display: none;"] {
          display: block !important;
        }
      }

      #f-nav #fp-team-title,
      #f-nav #fp-team-intro {
        display: none !important;
      }

      #fp-team-title,
      .login-body {
        width: 50%;
      }

      #who img {
        border-style: solid;
      }

      #root {
        > * {
          position: relative;
          z-index: 1;
        }

        .header-footer-route-container {
          background: none !important;
          /* = .container */
          margin-top: 0px;
          margin-bottom: 0px;
          /* = replace Mattermost style */
          height: auto !important;
          /* = .container de BS */
          margin-right: auto;
          margin-left: auto;
          padding: 0 1rem;
          @media (min-width: 576px) {
            padding: 0;
            width: 540px;
          }
          @media (min-width: 768px) {
            width: 720px;
            margin-top: 30px;
            margin-bottom: 30px;
          }
          @media (min-width: 992px) {
            width: 960px;
          }
          @media (min-width: 1200px) {
            width: 1140px;
          }
        }

        .login-body-card {
          background: none;
          border: none;
          margin: 0;
          width: 100%;
        }

        .login-body-action {
         width: 100%;
        }

        .login-body legend {
          display: none;
        }

        .login-body {
          background: var(--f-g3);
          box-shadow: var(--f-shadow);
          margin: 4rem 0 1.5rem;
          max-width: 420px;
          min-width: 375px;
          border-radius: .5rem;

          input {
            height: 24px;
          }

          .login-body-card-form {
            background: var(--f-g2);
            padding: 1rem 1.5rem;
            border-radius: 0.5rem 0.5rem 0 0;
          }

          .login-body-card-form-login-options {
            padding: .75rem 1.5rem;
            display: block;
          }

          .login-body-card-content,
          .Input_container .Input_wrapper {
            padding: 0;
          }

          .Input_container,
          .Input_fieldset {
            background: none;;
          }

          fieldset {
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0;
          }

          .login-body-card-form-link {
            float: right;

            a {
              color:var(--f-g7);
              font-weight: normal;
            }
          }

          fieldset,
          .Input_container,
          .login-body-card-form-link,
          #saveSetting {
            margin-top: .25rem;
          }
        }

          .ft-signup {
            * {
              color: var(--f-g7);
              font-size: .875rem;
              font-weight: normal;
            }

            a {
              color: var(--f-g7);
              font-weight: bold;
              &:hover, &:focus, &:active {
                color: var(--f-g8);
              }
            }
          }

          #gitlab {
            display: inline-block;
            margin: .5rem 0 0;
            padding: 0;
            font-size: .875rem;
            font-weight: normal;
            line-height: 16px;
            height: auto;
          }
        }

      .login-body-alternate-link {
        padding: 20px 30px;
        background-color: var(--f-g1);
        margin-bottom: .5rem;
      }

      input { /* = .form-control-sm */
        display: block;
        padding: 0.25rem 0.5rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.2rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-bottom: .5rem;
        min-height: calc(1.5em + 0.5rem + 2px);
        width: 100%;
      }

      .btn { /* = .btn-sm */
        border-radius: 0.2rem;
        font-size: .875rem;
        font-weight: normal;
        height: auto;
        padding: 0.25rem 0.5rem;
        width: auto;
      }
    }

    /* Fix Mattermost */
    .btn {
      border-radius: 4px;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none;
    }

    .signup-team__container {
      padding: 0px;
      max-width: auto;

      .btn {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        font-weight: normal;
        margin-right: 0px;
        margin-bottom: 10px;
      }

      .btn.btn--full {
        max-width: 350px
      }
    }

    .signup-team__container .btn-custom-login.email,
    .btn-primary {
      color: #fff !important;
      background-color: var(--f-f7) !important;
      border-color: var(--f-f7) !important;

      &:hover,
      &:focus,
      &:active {
        color: #fff !important;
        background-color: #5f497c !important;
        border-color: #5f497c !important;
      }
    }

    .signup-team__container .btn-custom-login.gitlab {
      color: #fff !important;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      background-color: var(--f-b7) !important;
      border-color: var(--f-b7) !important;

      &:hover,
      &:focus,
      &:active {
        color: #fff !important;
        background-color: #225365 !important;
        border-color: #225365 !important;
      }
    }

    &#ct-login {
      .login-body-alternate-link {
        padding-bottom: 0;
      }
    }

    &#ct-login .login-body-alternate-link,
    &#ct-signup_user_complete .signup-team__container .inner__content { /* = .well */
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: var(--f-g2);
      border: 1px solid #dee2e6;
      border-radius: 4px;
    }

    .text-center {
      text-align: center;
    }

    /* Cleaning */
    .get-app,
    /* login */
    .header-logo-link,
    .hfroute-header,
    .login-body-message,
    .login-body-card-title,
    .login-body-card-form-divider,
    .login-body-alternate-link,
    #password_toggle,
    /* signup */
    .signup-body-message,
    .signup-body-alternate-link,
    .signup-body-card-form-divider-label,
    #back_button,
    /* mattermost footer */
    .hfroute-footer,
    #root .footer {
      display: none !important;
    }
  }

  #ct-signup_user_complete .gitlab,
  #ct-login .gitlab {
    background: none !important;
    border: none;
    color: var(--f-g7) !important;
    display:block;
    text-shadow: none;
    width: 100%;

    &:hover,
    &:focus {
      color: var(--f-g8) !important;
      text-decoration: underline !important;
    }
  }

  #ct-signup_user_complete .gitlab {
    text-align: center;
  }

  #ct-signup_user_complete #root .header-footer-route-container {
    background: var(--f-g3);
  }

  #root .signup-body .signup-body-content {
    .signup-body-card {
      background-color: var(--f-g1) !important;
      border: 1px solid var(--f-g4);
      border-radius: .5rem;
      box-shadow: none;
      box-sizing: border-box;
      margin-left: 0;
      width: 100%;
      @media (min-width: 768px) {
        width: 540px;
      }
    }

    .signup-body-card-title {
      display:block;
    }
  }

  #ct-login #login_forgot {
    display: block;
    float: right;
    margin-top: 7px;
  }

  #fp-team-prez {
    display: none;
  }

  #ct-login #fp-team-prez {
    display: block;
  }
  /*******************
   * Dans Mattermost *
   *******************/
  .inMM {
    overflow: hidden;

    h1, h2, h3, h4, h5 { color: inherit; }

    #header.f-bs4,
    .f-team {
      display: none;
    }

    .sidebar--left .dropdown-menu {
      width: 250px !important;
      max-width: 250px;
      left: 180px;
    }

    .navbar-right .dropdown-menu { right: -100px; }

    #editStatusMenu {
      left:auto;
    }

    .admin-sidebar .team__header .team__name,
    .admin-sidebar .team__header .user__name,
    .sidebar--left .team__header .team__name,
    .sidebar--left .team__header .user__name,
    .sidebar--menu .team__header .team__name,
    .sidebar--menu .team__header .user__name {
      color: inherit;
    }

      .sidebar__search-icon {
      top: 8px;
      right: 8px;
    }


    .gfycat-search {
      .search-input {
        font-size: 1rem;
      }

      .ic-search, .ic-clear-search {
        top: 7px;
        left: 7px;
        width: 2rem;
        height: 2rem;
      }
    }

    /* Gif toggle visibility */
    .post .post__embed-visibility[data-expanded="true"]::before {
      content: '\f06d1'; // .con-eye-off-outline in compass-icons.css (from MM)
    }

    .post .post__embed-visibility::before {
      content: '\f06d0'; // .con-eye-outline in compass-icons.css
      font-family: "compass-icons";
    }

    .post .post__embed-visibility {
      border-style: solid;
      border-width: 1px;
      padding: 2px 4px 2px 3px;
      top: -2px;
      border-radius: 3px;
      opacity: 0.9;
    }

    .post .post__embed-visibility {
      border-color: #ffffffaa;
      color: #ffffff;
      text-shadow: 0 0 1px #000000;
      background: #333333dd;
    }

    .post .post__embed-visibility:hover,
    .post .post__embed-visibility:focus{
      opacity: 1;
    }
  }

  /***************** *
   * Partout
   * *************** */
  .announcement-bar.announcement-bar-advisor,
  #channel_view .system-notice,
  #root > .system-notice,
  .error-bar {
    display: none;
  }

  .announcement-bar--fixed {
    padding: 0;
  }

  body.announcement-bar--fixed .admin-sidebar {
    top: 0;
  }

  body.announcement-bar--fixed .sidebar--right {
    height: 100%;
    top: 0px;
  }

  @media (min-width: 768px) {
    body.announcement-bar--fixed .sidebar--right {
      top: 63px;
    }
  }

  /* Lien d’ajout d’émojis custom */
  #customEmojis {
    display: none;
  }

  /**
   Correction emoji
   https://github.com/mattermost/mattermost/issues/29114#issuecomment-2553461752
   */
  .emojisprite {
    -moz-transform: none !important;
  }

  /* Lien pour les rétrospectives des playbooks */
  a[class^="TabItem"][href$="retrospective"],
  a[class^="NavItem"][href$="/reports"],
  #retrospective,
  #playbook-run-retrospective,
  #playbook-preview-navbar div[class^="Items-"] div:nth-child(4),
  a[class^="NavItem"][href$="usage"],
  div[class^="PlaceholderRow-"],
  button[class*='SecondaryButtonDisabled'],
  svg[class*='PositionedUpgradeBadge'] {
    display: none;
  }

  /* Modale exceptionnelle */
  .app__body #modal-finfo {
    .modal-header,
    .modal-body,
    .modal-footer {
      background: #fff;
    }

    .modal-body {
      color: var(--f-d9);

      a {
        color: var(--f-b7);

        &:hover,
        &:focus,
        &:active {
          color: var(--f-f7);
        }
      }
    }

    .btn-default {
      color: var(--f-d9);
      background-color: #fff;
      border-color: var(--f-g4);

      &:hover,
      &:focus,
      &:active {
        color: var(--f-d9);
        background-color: var(--f-g1);
        border-color: var(--f-g5);
      }
    }

    .btn-primary {
      color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      background-color: var(--f-f7);
      border-color: var(--f-f7);

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: #5f497c;
        border-color: #5f497c;
      }
    }
  }
}

#f--[data-url*="://framateam.org"] .inMM {
  #f-modal-info[style].show,
  #f-modal-info[style].show + .modal-backdrop {
    display: block !important;
  }

  #f-modal-info .modal-header,
  #f-modal-info .modal-footer {
    background: #fff;
  }

  #f-modal-info .modal-header {
    display: block;
  }

  #f-modal-info h5 {
    color: var(--f-g7);
    max-width: 100%;
  }

  #f-modal-info .modal-body {
    color: var(--f-g9);
  }

  #f-modal-info .close {
    padding: 0;
    margin: -1rem -.5rem auto;
  }
}

[data-url*="://framateam.org"] {
  .inMM {
    /* Attachment warning */
    .file__image::after,
    [data-testid="fileAttachmentList"]::after {
      border-radius: .25rem;
      background: #ffffff33;
      color: var(--new-message-separator);
      content: "⚠️ This file will be deleted after one year!" !important;
      display: inline-block !important;
      font-size: 90%;
      font-weight:  bold;
      height:fit-content;
      margin: .25rem 0;
      padding: .25rem .5rem;
    }
  }
  &[lang^="fr"] {
    .inMM {
      /* Attachment warning */
      .file__image::after,
      [data-testid="fileAttachmentList"]::after {
        content: "⚠️ Ce fichier sera supprimé au bout d’un an !" !important;
      }
    }
  }
}