[data-url*="://wiki.framasoft.org"] {
  /* #dokuwiki__usertools {
    top: 50px;
  } */
  background: #fff !important;

  #dokuwiki__site {
    max-width: 90em;
  }

  #f-footer[style] {
    display: block;
    position: relative !important;
  }

  #dw__footer {
    display: none;
  }
}

[data-url*="://wiki.framasoft.org/lib/exe/mediamanager.php"] {
  #f-footer[style] {
    display: none !important;
  }
}