[data-url*="://framabookin.org/b"] {
    .ui-page {
        margin-top:0px;
    }

    .ui-header {
        margin-top:42px;
    }

    .ui-content header {
        margin-bottom:40px;
    }

    a[href*="admin"] {
        display:none;
    }
}
