[data-url*=".framaboard.org"],
[data-url*="://framabookin.org/b"],

/* dans Ethercalc */
[data-url*="framacalc.org/"]:not([data-url$="/_start"]),
[data-url*="framacalc.org/"]:not([data-url$="framacalc.org/"]),

[data-url*="://framacarte.org"][data-url*="/map/"],                     /* dans uMap */
[data-url*="://framacolibri.org"],

/* dans Nextcloud */
/* [data-url*="://framagenda.org"][data-url*="index.php/app"]:not([data-url*="registration"]),
 * [data-url*="://framagenda.org"][data-url*="index.php/setting"], */
[data-url*="://framadrive.org"][data-url*="index.php/app"]:not([data-url*="registration"]),
[data-url*="://framadrive.org"][data-url*="index.php/setting"],

[data-url*="://framindmap.org/c/maps"][data-url*="/edit"],              /* dans l’éditeur de Wisemapping */
[data-url*="://framinetest.org/carte/"],                                /* dans la carte Minetest */
[data-url*="://framanews.org/ttrss"],                                   /* dans TTRSS (pas actif) */
[data-url*="://framapack.org/admin/"],                                  /* dans l’interface admin de Framapack */
[data-url*="://framaphonie.org"],
[data-url*="://framapiaf.org"]:not([data-url*="/about"]),
[data-url*=".frama.site/admin"],                                        /* dans Grav */
[data-url*="://framateam.org"],
[data-url*="://framavectoriel.org/svg-editor"],                         /* dans SVG-Edit */
[data-url*="://framavox.org"],

[data-url*="://mypads.framapad.org"],                                   /* dans MyPads */
[data-url*=".framapad.org/p/"],                                         /* dans Etherpad */

[data-url*="://bot.framasoft.org"],
[data-url*="://forum.framasoft.org"],
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"],      /* dans la popup MyFrama */
[data-url*="://status.framasoft.org"],

[data-url*="://connard.pro"],

[data-inframe="true"] {
    #framafooter,
    #framafooter[style] {
        display: none !important;
    }
}
