$ombre: 0px 3px 4px rgba(50, 50, 50, 0.2);
$img-ombre: 0px 2px 6px rgba(50, 50, 50, 0.4);
$carousel-ombre: 0px 3px 3px rgba(50, 50, 50, 0.5);

@import "global";

@import "bookin";
@import "calc";
@import "carte";
@import "colibri";
@import "contact";
@import "listes";
@import "localhost";
@import "news";
@import "phonie";
@import "team";
@import "vectoriel";
@import "vox";
@import "wiki";
