[data-url*=".framaboard.org/"] {
  body {
    background: #fff !important;
  }

  /* Button color from Framacss */
  a.btn-red,
  .btn-red {  /* = btn-danger */
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: #CC2D18;
    border-color: #CC2D18;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #B82E12;
      border-color: #B82E12;
    }
  }

  a.btn-blue, /* = btn-primary */
  .btn-blue {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: #6A5687;
    border-color: #6A5687;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #635182;
      border-color: #635182;
    }

    &:disabled {
      color: #777;
      text-shadow: none;
      border: 1px solid #ccc;
      background: #f7f7f7;
    }
  }

  a:focus {
    border: none;
  }

  #ui-datepicker-div {
    z-index: 1002 !important; /* Above the nav */
  }

  #modal-box {
    max-height: calc(100% - 65px);
    top: 60px;
  }
}

