[data-url*="://framateam.org"] {
  /************************* *
   * En dehors de Mattermost *
   * *********************** */
  .outMM {

    background: #eee !important;

    .framateam {
      display: block;
    }

    h1 {
      font-family: "DejaVu Sans",Verdana,Geneva,sans-serif !important;
      font-size: 48px;
      font-weight: bold;
    }

    .lead { font-style: italic; }

    #root.container-fluid {
      /* = .container.ombre */
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px 30px;
      /* = .ombre */
      background-color: #FFF;
      box-shadow: $ombre;
      /* = replace Mattermost style */
      height: auto !important;
      /* = .container de BS */
      margin-right: auto;
      margin-left: auto;
      @media (min-width: 768px) {
        width: 750px;
      }
      @media (min-width: 992px) {
        width: 970px;
      }
      @media (min-width: 1200px) {
        width: 1170px;
      }
      &[style] {
        margin-top: 72px !important;
      }
    }

    img.ombre {
      box-shadow: $img-ombre;
      margin: 10px;
      padding: 0px;
      width: 80%;
    }

    /* Fix Mattermost */
    .btn {
      border-radius: 4px;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none;
    }

    .signup-team__container {
      padding: 0px;
      max-width: auto;

      .btn {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        font-weight: normal;
        margin-right: 0px;
        margin-bottom: 10px;
      }

      .btn.btn--full {
        max-width: 350px
      }
    }

    .signup-team__container .btn-custom-login.email,
    .btn-primary {
      color: #fff !important;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      background-color: #6A5687 !important;
      border-color: #6A5687 !important;

      &:hover,
      &:focus,
      &:active {
        color: #fff !important;
        background-color: #635182 !important;
        border-color: #635182 !important;
      }
    }

    .signup-team__container .btn-custom-login.gitlab {
      color: #fff !important;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      background-color: #11809E !important;
      border-color: #11809E !important;

      &:hover,
      &:focus,
      &:active {
        color: #fff !important;
        background-color: #0C5B7A !important;
        border-color: #0C5B7A !important;
      }
    }

    &#ct-login {
      .signup__email-container {
        padding-bottom: 0;
      }
    }

    &#ct-login .signup__email-container,
    &#ct-signup_user_complete .signup-team__container .inner__content { /* = .well */
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }
  }

  #ListModal {
    .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #bdbdbd;

      &:hover,
      &:focus,
      &:active {
        color: #333;
        background-color: #e0e0e0;
        border-color: #949494;
      }
    }

    .modal-header {
      background-color: #fff;
    }

    button.close {
      color: #333;
      background: #fff !important;
    }
  }

  /* Cleaning */
  .signup-header,         /* Bandeau Déconnexion / Accueil / Page précédente */
  .signup-team-logo,      /* Logo Mattermost */
  .signup-team__container h1,   /* Titre Framateam */
  .signup-team__container h4:nth-child(2),
  .signup-team__container h4:nth-child(3), /* Sous-titre */
  .row.footer,          /* Footer Mattermost */
  /* /select_team */
  .outMM .signup-team__container .signup__content:nth-child(5),
  #ct-select_team .margin--extra,
  #ct-select_team .signup__content > h4,
  /* /signup_user_complete */
  .outMM .signup-team__container .or__container,
  .outMM .signup-team__container > span.color--light,
  .outMM .signup-team__container > p,
  /* /login */
  .outMM#ct-login .signup__content > div > .form-group, /* Pas de compte ? */
  .outMM .signup__content .or__container,
  .signup-team__container h5 {
    display: none;
  }

  .outMM .signup-team__container .btn.btn-custom-login > span {
    top: 4px !important;
  }

  /* Trop de ménage ? */
  .outMM form .margin--extra,
  #ListModalLabel {
    display: block;
  }

  #ct-signup_user_complete .gitlab,
  #ct-login .gitlab {
    background: none !important;
    color: #0C5B7A !important;
    text-shadow: none;
    width: 100%;
    border: none;

    &:hover,
    &:focus {
      color: #635182 !important;
      text-decoration: underline !important;
    }

    .icon {
      filter: invert(70%) sepia(15%) saturate(6919%) hue-rotate(170deg) brightness(89%) contrast(91%);

      &:hover,
      &:focus {
        filter: invert(60%) sepia(17%) saturate(1077%) hue-rotate(220deg) brightness(93%) contrast(92%);
      }
    }
  }

  #ct-login #login_forgot {
    display: block;
    float: right;
    margin-top: 7px;
  }

  #fteam_public, #fteam_prez, #fteam_screen,
  #login_section + .col-md-5 a[href="/signup_user_complete"] {
    display: none;
  }
  #ct-select_team #fteam_public,
  #ct-login #fteam_prez,
  #ct-login #fteam_screen {
    display: block;
  }
  /*******************
   * Dans Mattermost *
   *******************/
  .inMM {
    overflow: hidden;
    /* padding-top: 62px; */
    background: inherit;

    .framateam {
      display: none;
    }

    #root {
      margin-top: 0 !important;
    }

    /* .sidebar--right,
    .sidebar--left,
    .team-sidebar {
      margin-top: -20px;
    } */

    .sidebar--left {
      height: calc(100% - 21px);
    }

    @media screen and (max-width: 768px) {
      .sidebar--left .nav-pills__container {
        height: calc(100% - 80px);
      }
    }

    .sidebar--left .dropdown-menu {
      width: 250px !important;
      max-width: 250px;
      left: 180px;
    }

    .navbar-right .dropdown-menu { right: -100px; }

    #editStatusMenu {
        left:auto;
        top:60px;
    }

    .admin-sidebar {
      top: 42px;
      padding-bottom: 42px;
    }

    .admin-sidebar .team__header .team__name,
    .admin-sidebar .team__header .user__name,
    .sidebar--left .team__header .team__name,
    .sidebar--left .team__header .user__name,
    .sidebar--menu .team__header .team__name,
    .sidebar--menu .team__header .user__name {
      color: inherit;
    }

    .sidebar__search-icon {
      top: 8px;
      right: 8px;
    }

    .post-right__scroll {
      height: calc(100% - 42px);
    }

    .sidebar--left .sidebar__switcher {
      margin-bottom: 21px;
    }

    .post-right__container .post-create__container {
      padding-bottom: 86px;
      margin-top: 42px;
    }
  }

  /***************** *
   * Partout
   * *************** */
  .error-bar{ display:none }

  /* Modale exceptionnelle */
  .app__body #modal-finfo {
    .modal-header,
    .modal-body,
    .modal-footer {
      background: #fff;
    }

    .modal-body {
      color: #333;

      a {
        color: #0C5B7A;

        &:hover,
        &:focus,
        &:active {
          color: #635182;
        }
      }
    }

    .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #bdbdbd;

      &:hover,
      &:focus,
      &:active {
        color: #333;
        background-color: #e0e0e0;
        border-color: #949494;
      }
    }

    .btn-primary {
      color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      background-color: #6A5687;
      border-color: #6A5687;

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: #635182;
        border-color: #635182;
      }
    }
  }
}

[data-url*="framateam.org/framasoft/"] .system-notice {
  display:none;
}
