[data-url*="://framavox.org"] {
  #framavox_container h1 {
    font-size: 48px;
    font-family: "DejaVu Sans",Verdana,Geneva,sans-serif !important;
    font-weight: bold;
  }

  .lead { font-style: italic; font-size: 21px !important;}

  .container.ombre {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 30px;
  }

  img.ombre {
    box-shadow: $img-ombre;
    margin: 10px;
    padding: 0px;
    width: 80%;
  }

  /* Fix nav */
  body > .navbar.navbar-top {
    margin-top:42px;
  }

  header.lmo-navbar {
    top: 42px;
  }

  .lmo-one-column-layout, .lmo-two-column-layout {
    padding-top: 90px;
  }

  /* Fix Loomio */
  .navbar__middle a {
    text-decoration: none !important;
  }

  .sessions.new .terms,
  .registrations.create .terms,
  .registrations.new .terms,
  .angular-feedback-card,
  #dialogContent_3 .lmo-h3,
  .signin_container .sign_up,
  #sign-in .col-md-6:nth-child(1) > p:nth-child(3) {
    display: none;
  }

  .sessions.new header h1,
  .registrations.create header h1,
  .registrations.new header h1 {
    font-size: 48px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
  }

  .sessions.new .alert,
  .registrations.create .alert,
  .registrations.new .alert {
    margin: 0 auto;
  }

  .container {
    max-width: 100%;
  }

  .start-menu__modal-backdrop[style*="block"] {
    display: none !important;
  }

  .thread-lintel__wrapper {
    top:86px;
  }

  .start-menu__start-button {
    background: #6A5687;
  }

  #menu_container_1 md-menu-item:nth-of-type(5) { // contact form is broken
    display: none;
  }

  .logged-out {
    .md-dialog-container,
    .md-scroll-mask,
    .md-dialog-backdrop,
    .lmo-navbar {
      display: none;
    }
  }

  .home-hidden {
    #fvox {
      display: none;
    }

    .md-dialog-container,
    .md-scroll-mask,
    .md-dialog-backdrop,
    .lmo-navbar {
      display : block;
    }
  }
}
