<template>
  <div
    id="f-alert-defisc"
    style="display: none;"
  >
    <b-alert
      v-if="state.alert"
      :show="state.alert"
      variant="campaign"
      dismissible
      :dismiss-label="$t('txt.close')"
      @dismissed="state.alert = false; cookie('w', 'f-alert-defisc', true, 604800000);"
    >
      <b-row
        v-for="index in blog.length"
        :key="index"
        :class="index === active ? '' : 'd-none'"
      >
        <b-col
          cols="3"
          class="d-flex justify-content-end pr-0 py-3"
        >
          <img
            alt=""
            :src="`${$t('baseurl')}img/com/c23/${index + 5}.png`"
          />
        </b-col>
        <b-col
          cols="9"
          class="align-self-center"
        >
          <div v-html="$t('alert.defisc', { countdown: countdown.html })"></div>
        </b-col>
      </b-row>
    </b-alert>
  </div>
</template>

<script>
export default {
  data() {
    let active = 1;
    const blog = [
      { date: '2023/12/19', link: { fr: '32511', en: '32513' } }, // emancipasso
      { date: '2023/12/26', link: { fr: '32515', en: '32517' } }, // libre
      { date: '2023/12/30', link: { fr: '32520', en: '32522' } }, // dio
    ];

    for (let i = 0; i < blog.length; i += 1) {
      if (this.is.after(blog[i].date)) {
        blog[i].on = true;
        active = i + 1;
      } else {
        blog[i].on = false;
      }
    }

    return {
      active,
      blog,
      countdown: {
        today: 0,
        end: new Date(1 * this.$t('year.next'), 0, 1).getTime(),
        diff: 0,
        d: 0,
        h: 0,
        m: 0,
        html: '',
      },
      state: {
        alert: !this.cookie('r', 'f-alert-defisc'),
      },
    };
  },

  mounted() {
    this.countdown.today = new Date().getTime();
    this.countdown.diff = (this.countdown.end - this.countdown.today) / 1000;
    this.countdown.d = Math.floor(this.countdown.diff / (60 * 60 * 24));
    if (this.countdown.d > 0) {
      this.countdown.html = `
        ${this.countdown.d}</b> jour${this.countdown.d > 1 ? 's' : ''}
      `;
    } else {
      this.countdown.h = Math.floor((this.countdown.diff % (60 * 60 * 24)) / (60 * 60));
      this.countdown.m = Math.floor((this.countdown.diff % (60 * 60)) / 60);

      if (this.countdown.h > 0) {
        this.countdown.html = `
          ${this.countdown.h}</b> heure${this.countdown.h > 1 ? 's' : ''}
          ${this.countdown.m}</b> minute${this.countdown.m > 1 ? 's' : ''}
        `;
      } else {
        this.countdown.html = `
          ${this.countdown.m}</b> minute${this.countdown.m > 1 ? 's' : ''}
        `;
      }
    }
  },
};
</script>

<style lang="scss">
  #f-alert-defisc .row .col-9 div a:last-of-type {
    margin-top: .5rem;
  }
</style>
