<template>
  <div
    id="f-alert-greve"
    style="display: none;"
  >
    <b-alert
      v-if="state.alert"
      :show="state.alert"
      variant="greve"
      dismissible
      :dismiss-label="$t('txt.close')"
      @dismissed="state.alert = false; cookie('w', 'f-alert-greve', true, 604800000);"
    >
      <b-row class="flex-column mt-2">
        <b-col
          class="d-flex"
          v-html="$t('alert.greve.md')"
        />
      </b-row>
    </b-alert>
  </div>
</template>

<script>
export default {
  data() {
    return {
      state: {
        alert: !this.cookie('r', 'f-alert-greve'),
      },
    };
  },
};
</script>

<style lang="scss">
#f-- #f-alert-greve {
  background: url('../../../public/img/bg-powerfull.jpg') no-repeat left;
  background-size: cover;
  padding: 1px;
}

#f-- #fp-alert .alert-greve {
  background: var(--f-d9);
  border: 6px solid var(--f-d9);
  padding: 0.75rem 0 0.5rem 0;
  color: #fff;

  .close {
    color: var(--f-d1);
    text-shadow: none;
    padding: .25rem 0;
    margin-right: 0 !important;
    margin-top: -10px !important;
  }

  div {
    h1 {
      align-content: center;
      background: var(--f-d9);
      color: #fff;
      display: inline-flex;
      flex-wrap: wrap;
      font-family: 'Tovari Sans';
      font-size: 1.75rem;
      line-height: 1.75rem;
      margin: 0;
      padding: .5rem .75rem .5rem .5rem;
      text-align: left;
    }

    p {
      color: #ffffff;
      background: var(--f-d8);
      padding: .5rem .75rem;
      margin: 0 .25rem 0 0;
      max-width: calc(8 / 12 * 100%);
      text-align: center;

      a { background: none !important; }
    }
  }
}
</style>
