<template>
  <b-modal
    id="f-modal-campaign"
    v-model="state.campaign"
    :static="true"
    :lazy="true"
    :title="$t('modal.campaign.title')"
    :header-close-label="$t('txt.close')"
    :cancel-title-html="$t('txt.close')"
    cancel-variant=" d-none"
    ok-variant=" d-none"
    :ok-title-html="$t('txt.nevershow')"
  >
    <div v-html="$t('modal.campaign.md', { nbDays, s })"></div>
    <div class="fnav-modal-progress position-relative">
      <div ref="progressThermometer" class="fnav-modal-progress-bar fnav-modal-progress-bar-info" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100" style="width: 0%;" />
      <span ref="stepInfo" id="fnav-modal-step-info" class="position-absolute"></span>
    </div>
    <p class="text-center my-4">
      <a
        class="btn btn-primary"
        :href="`${$t('link.soutenir')}?mtm_campaign=Campagne2024&mtm_source=nav_modal`"
        target="_blank"
        @click="$bvModal.hide('f-modal-campaign')"
      >
        <span v-html="$t('modal.campaign.btn', { days, s })"></span>
      </a>
    </p>
    <p
      class="small text-muted m-0"
      v-html="$t('modal.campaign.help')"
    ></p>
  </b-modal>
</template>

<script>
export default {
  data() {
    const days = (((new Date('6/14/2023')).getTime() - (new Date()).getTime()) / (1000 * 3600 * 24) + 0.5).toFixed(0);
    return {
      days,
      state: {
        campaign: !this.cookie('r', 'modal-campaign'),
      },
      oneDay: 24 * 60 * 60 * 1000, // hours*minutes*seconds*milliseconds
      today: new Date(),
      endCampaign: new Date('2024-12-31T23:59:59'),
      donations: 0,
      max: 400000,
      numberFormat: new Intl.NumberFormat(undefined, { style: "currency", currency: "EUR", roundingMode: 'ceil', maximumFractionDigits: 0 }),
    };
  },

  async created() {
    const data = await (await fetch('https://soutenir.framasoft.org/campagne-fin-2024.json', { cache: 'no-cache' })).json();
    this.donations = data.total;
  },
  mounted() {
    this.cookie('w', 'modal-campaign', true, 604800000);
  },
  computed: {
    nbDays() {
      return Math.ceil(Math.abs((this.today - this.endCampaign) / this.oneDay))
    },
    percent() {
      return Math.max(Math.round(100 * this.donations / this.max), 3);
    },
    s() {
      return this.nbDays > 1 ? 's' : ''
    }
  },
  watch: {
    donations(newValue) {
      if (!newValue || !this.$refs.stepInfo || !this.$refs.progressThermometer) return;
      this.$refs.stepInfo.innerHTML = ` 🎈${this.numberFormat.format(newValue)}🎈`;
      this.$refs.progressThermometer.style.width = `${this.percent}%`;
      this.$refs.progressThermometer.setAttribute("aria-valuenow", this.percent);
    }
  }
};
</script>

<style lang="scss">
#f-modal-campaign[style*="block"] {
  display: flex !important;
}

/* No modal at all */
/* ------------------------------------------------------------------ */
[data-inframe="true"] {
  #f-modal-campaign[style],
  #f-modal-campaign[style] + .modal-backdrop {
    display: none !important;
  }

  .modal-open {
    overflow: auto;
  }
}

#f-- #f-modal-campaign {
  align-items: center;
  padding-right: 0px;

  .close {
    color: #fff;
    text-shadow: none;
  }

  .modal-content {
    background: url('../../../public/img/bg-clouds.jpg');
    background-size: cover;
    border: none !important;
    border-radius: 0 !important;
  }

  .modal-body {
    background: #ffffffcc;
    border-radius: .5rem;
    margin: 0 2.5rem .5rem;

    @media (max-width:576px) {
      margin: 0 1.5rem .5rem;
    }
  }

  .modal-header,
  .modal-footer {
    border-color: transparent !important;
  }

  .modal-title { /* .sr-only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }

  #fnav-modal-step-info {
    top: 12px;
    left: 160px;
    color: black;

    @media (max-width:576px) {
      left: 100px;
    }
  }

  .fnav-modal-progress {
    display: flex;
    overflow: hidden;
    line-height: 0;
    font-size: .85rem;
    background-color: #e9ecef;
    height: 1.5rem;
    width: 100%;
    border-radius: 20px !important;
    box-shadow: inset 0 4px 6px #ccc;
    max-width: 85vw;
  }

  .fnav-modal-progress-bar {
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #fc8e3a;
    transition: width .6s ease;
    display: flex;
    overflow: hidden;
    box-shadow: inset 0 4px 6px hsla(0, 0%, 39.2%, .6);
  }
}
</style>
