<template>
  <b-modal
    id="f-modal-joke"
    v-model="state.joke"
    :static="true"
    :lazy="true"
    :header-close-label="$t('txt.close')"
    :cancel-title-html="$t('txt.close')"
    cancel-variant=" d-none"
    ok-variant=" d-none"
    :ok-title-html="$t('txt.nevershow')"
    size="lg"
  >
    <div
      v-show="!state.page2"
      id="modal-cer-1"
    >
      <div v-html="$t('modal.joke.md')"></div>
      <div
        v-for="(li, index) in $t('modal.joke.ul')"
        :key="index"
        class="form-check mb-2"
      >
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="checkbox"
          />
          <span
            v-html="$t(`modal.joke.ul[${index}]`).replace(/a href/g, `a target='_blank' href`)"
          ></span>
        </label>
      </div>
      <p class="text-center my-4">
        <a
          class="btn btn-sm btn-light mr-4"
          href="#"
          @click.prevent.stop="state.page2 = true"
        >
          <span v-html="$t('modal.joke.btn')"></span>
        </a>
        <a
          class="btn btn-sm btn-soutenir"
          href="#"
          @click.prevent.stop="state.page2 = true"
        >
          <span v-html="$t('modal.joke.btn2')"></span>
        </a>
      </p>
      <p
        class="small text-muted m-0"
        v-html="$t('modal.joke.help')"
      ></p>
    </div>
    <div
      v-show="state.page2"
      id="modal-cer-2"
    >
      <div
        v-html="$t('modal.joke.md2').replace(/a href/g, `a target='_blank' href`)"
      ></div>
      <p class="text-center mt-4 mb-0">
        <a
          class="btn btn-sm btn-light"
          href="#"
          @click="$bvModal.hide('f-modal-joke')"
        >
          <span v-html="$t('txt.close')"></span>
        </a>
      </p>
    </div>
  </b-modal>
</template>

<script>
export default {
  data() {
    return {
      state: {
        joke: !this.cookie('r', 'modal-joke'),
        page2: false,
      },
    };
  },

  mounted() {
    this.cookie('w', 'modal-joke', true, 604800000);
  },
};
</script>

<style lang="scss">
#f-modal-joke[style*="block"] {
  display: flex !important;
}

/* No modal at all */
/* ------------------------------------------------------------------ */
[data-inframe="true"] {
  #f-modal-joke[style],
  #f-modal-joke[style] + .modal-backdrop {
    display: none !important;
  }

  .modal-open {
    overflow: auto;
  }
}

@media (max-width: 576px) {
  #f-modal-joke[style],
  #f-modal-joke[style] + .modal-backdrop {
    display: none !important;
  }

  .modal-open {
    overflow: auto;
  }
}

#f-- #f-modal-joke {
  align-items: center;
  padding-right: 0px;

  .close {
    color: #fff;
    text-shadow: none;
  }

  .modal-content {
    border: 5px solid var(--f-f7);
    border-radius: 0 !important;
    line-height: 1.25rem;

    &::before {
      border: 5px solid var(--f-o6);
      content: '';
      display:block;
      position: absolute;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      margin: 5px;
    }
  }

  h5 {
    align-items: start;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    img {
      width: 150px;
      margin-bottom: .5rem;
    }
  }

  #modal-cer-2 img {
    border: 5px solid var(--f-b2);
    border-radius: 50%;
    display: block;
    margin: 0.5rem auto;

    @media (min-width: 576px) {
      float: right;
      margin: 0 0 0 .5rem;
    }
  }

  .form-check {
    padding-left: 1.5rem;
  }

  .form-check-input {
    margin-top: .125rem;
    margin-left: -1.5rem;
    height: 1rem;
    width: 1rem;
  }

  .modal-body {
    margin: 1rem 1.5rem;
  }

  .modal-header,
  .modal-footer {
    display: none;
  }

  .modal-title {
    text-align: center;
    width: 100%;
  }

  a:not(.btn) {
    color: #1f1f1f;
    text-decoration: none;
    background-image: linear-gradient(#fc8e3a,#fc8e3a),linear-gradient(#9facbf,#9facbf);
    background-size: 0 2px,100% 2px;
    background-position: bottom,bottom;
    transition: background-size .25s ease-in-out;
    background-repeat: no-repeat;
    padding-top: 2px;
    padding-bottom: 2px
  }

  a:not(.btn):hover,
  a:not(.btn):focus {
    color: #1a1f2b;
    text-decoration: none;
    background-size: 100% 2px
  }
}
</style>
