<template>
  <b-modal
    id="f-modal-support"
    v-model="state.support"
    :static="true"
    :lazy="true"
    :title="$t('modal.support.title')"
    :header-close-label="$t('txt.close')"
    :cancel-title-html="$t('txt.close')"
    cancel-variant=" d-none"
    ok-variant=" d-none"
    :ok-title-html="$t('txt.nevershow')"
  >
    <div v-html="$t('modal.support.md')"></div>
    <p class="text-center my-4">
      <a
        class="btn btn-soutenir"
        :href="`${$t('link.soutenir')}?modal`"
        target="_blank"
        @click="$bvModal.hide('f-modal-support')"
      >
        <i class="fas fa-heart"></i>
        <span v-html="$t('modal.support.btn')"></span>
      </a>
    </p>
    <p
      class="small text-muted m-0"
      v-html="$t('modal.support.help')"
    ></p>
  </b-modal>
</template>

<script>
export default {
  data() {
    return {
      state: {
        support: !this.cookie('r', 'modal-support'),
      },
    };
  },

  mounted() {
    this.cookie('w', 'modal-support', true, 604800000);
  },
};
</script>

<style lang="scss">
#f-modal-support[style*="block"] {
  display: flex !important;
}

/* No modal at all */
/* ------------------------------------------------------------------ */
[data-inframe="true"] {
  #f-modal-support[style],
  #f-modal-support[style] + .modal-backdrop {
    display: none !important;
  }

  .modal-open {
    overflow: auto;
  }
}

#f-- #f-modal-support {
  align-items: center;
  padding-right: 0px;

  .close {
    color: #fff;
    text-shadow: none;
  }

  .modal-content {
    background: url('../../../public/img/bg-clouds.jpg');
    background-size: cover;
    border: none !important;
    border-radius: 0 !important;
  }

  .modal-body {
    background: #ffffffcc;
    border-radius: .5rem;
    margin: 0 2.5rem .5rem;
  }

  .modal-header,
  .modal-footer {
    border-color: transparent !important;
  }

  .modal-title { /* .sr-only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }
}
</style>
