#mindmaps *, #mindmaps *:before, #mindmaps *:after {
-webkit-box-sizing: content-box !important;
-moz-box-sizing: content-box !important;
box-sizing: content-box !important;
}

#headerToolbar {
  margin-top:42px;
}

#pageContainer #headerToolbar {
  margin-top:-35px;
}

#headerContent {
  height:30px;
  margin-top:35px;
}

#headerContent a {
  text-decoration:none;
}

#headerContent h1 {
  font-family: "DejaVu Sans","Verdana","Geneva","sans serif";
  font-weight: bold;
  font-size:50px
}

#footerContainer {
  padding-top:5px;
  height:30px;
  border:none;
}

#headerSlogan { display:none;}
#header { border-bottom:none;}
#headerAction {margin-right: 80px;}
