*, *:before, *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.panel {
    margin-bottom: 0px !important;
}

#framanav .dropdown-menu {
    width:auto !important;
    bottom:auto !important;
}
