h2 {
  font-size:22px !important;
}

#framadon #accordion a.section {
  font-size: 120% !important;
}

*, *:before, *:after {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

body {margin-top:0px !important;}

#admin-menu, #admin-menu ul {
  z-index:9999 !important;
}
