/* Accueil */
.home #menu{
  display:none;
}

.home .row.col-xs-12{
  margin-left:0;
}

.home #menu a {
  min-height:76px;
  text-decoration:none
}

.home #menu .fa-stack{
  float:left;
  margin-right:15px;
  font-size:28px
}

.home #menu a .h4{
  line-height:30px
}

.home .faq,
.home .formContact{
  max-width:570px;margin:0 auto
}

/* FAQ (.page-id-472  en test) */
.page-id-472 .list-group-item-text{
  padding:0px 15px;
  margin:0px
}

.page-id-472 .list-group-item-text hr{
  margin:0px 0px 17px;
  border-color:#ccc;
}

.page-id-472 .list-group-item-heading{
  cursor:pointer;
  padding:15px 15px;
  margin:0px;
}

.page-id-472 .list-group-item{
  padding:0;
}

.page-id-472 .list-group-item-heading a{
  position:relative;
  top:-70px;
  visibility:hidden;
}

.page-id-472 h2.h3{
  margin-top:30px;
  padding-left:15px
}

#content .entry-content li {
  margin-bottom:7px;
}