*, *:before, *:after {
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
}

#editorcontainerbox {
        top:42px !important;
}
#embed,#connectivity,#settings,#importexport,#users {
        top:78px !important;
}
.stickyChat {
        top:79px !important;
}

.toolbar ul li select {
        height:20px !important;
}
#helpbubbleslink > .buttonicon {
        font-size: 18px !important;
}

.toolbar ul li a .buttonicon {
        top: -2px !important;
}
