@import '../../commons/scss/frama/colors';
@import '../../commons/scss/frama/shadows';

/* Frameworks */
// @import 'frameworks/bootstrap4'; => nav.scss
// @import 'frameworks/iconslk'; => nav.scss

/* Fonts */
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';
@import 'fonts/tovari-sans';

/* Frama */
@import '../../commons/scss/frama/common';

/*
  Bootstrap 4 import
  + conflicts resolution
  + #f-nav container
*/
@import 'nav';

/* Components */
@import 'sidebar';
@import 'sidebar-btn';
@import 'modal';
@import 'feedback/feedback';

/* Sites Frama */
@import 'sites/calc';
@import 'sites/carte';
@import 'sites/colibri';
@import 'sites/date';
@import 'sites/forms';
@import 'sites/gitbook'; /* docs~, participer~, ~cloud */
@import 'sites/groupes';
@import 'sites/lab';
@import 'sites/listes';
@import 'sites/localhost'; /* tests */
@import 'sites/pad';
@import 'sites/piaf';
@import 'sites/status';
@import 'sites/team';
@import 'sites/vox';
@import 'sites/wiki';

/* Ajustements */
@import 'inframe';
@import 'overflow';

#f-- #f-nav[style="display: none;"] { // CSS Ready
  display: block !important;
}

.glyphicon[style*="font-size"] {
  color: var(--f-g6);
}
