.f-bs4 {
  #f-modal-about,
  #f-modal-docs {
    .modal-content {
      border-radius: 0;
      border: none;
      /*height: 94vh;*/
      background: #fff; /* ~team */
    }

    .modal-footer {
      border: none;
      border-radius: 0;
      margin: 0; /* ~mindmap */
      background: transparent; /* ~team */
      justify-content: center;

      .btn {
        text-transform: uppercase;
      }

      .btn-primary {
        display: none;
      }
    }
  }

  #f-modal-docs {
    .modal-content {
      border-top: 8px solid var(--f-o6);
    }

    .modal-body {
      padding: 0;
      max-height: none;
      background: transparent; /* ~team */
    }

    .modal-footer {
      background-color: var(--f-o6);
    }
  }

  #f-modal-about {
    .modal-content {
      border-top: 8px solid var(--f-f6);
    }

    .modal-body {
      max-height: none;
      h1 {
        border-bottom: 5px solid transparent;
        border-image: radial-gradient(var(--f-f6) 80px, transparent 81px);
      }

      h2 {
        border-bottom: 5px solid transparent;
        border-image: linear-gradient(var(--f-f6) 80px, transparent 81px);
      }

      p {
        line-height: 1.5rem;
        color: var(--f-g9); /* ~team */
      }

      ul {
        margin: 0 0 0 1rem; /* ~colibri */
      }

      hr {
        border: 3px solid var(--f-f6);
      }
    }

    .modal-footer {
      background-color: var(--f-f6);
      height: auto; /* ~listes */
    }
  }
}