#f-- {
  font-size: 100%;
}

#f-- .f-bs4 {
  @import 'frameworks/bootstrap4';
  @import 'frama/bootstrap4';
  @import 'frameworks/iconslk';

  font-family: 'Roboto', sans-serif;
  font-size: 1rem; /* ~calc */

  /* Fix conflicts */
  .modal-backdrop {
    opacity: 0.5;
  }

  .modal.fade {
    opacity: inherit;

    .modal-dialog {
      transform: inherit;
    }
  }

  .popover > .arrow,
  .popover > .arrow:after {
    border-style: none;
  }

  .embed-responsive {
    height: auto;
  }
}
