/* Vertical bar */
#f-corner {
  background: var(--f-f10) url('../../public/img/bg-sidebar-btn.png');
  border: none;
  border-radius: 0 0 0 54px !important;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 1031;

  i.fac {
    opacity: .9;
  }

  .logo-menu {
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1;
    height: 54px;
    width: 54px;

    > span:last-of-type {
      position: absolute;
      left: 12px;
      top: 4px;
    }
  }
}

/* Cleaning */
/* ~colibri */
@media (max-width: 1440px) {
  [data-url*="://framacolibri.org"] .d-header .wrap {
    padding-right: 55px;
  }
}

/* ~beta.forms */
[data-url*="://beta.framaforms.org"] {
  .ds-main-navbar nav,
  .ds-header-title-with-button {
    padding-right: 55px;
  }

  #f-sidebar .logo-menu .fa-framasoft-alt {
    margin-left: .75rem !important;
  }
}

/* ~libre */
#page-header,
#page-header .toggle-buttons {
  padding-top: 15px;
}

/* ~groupes, ~listes */
[data-url*="://framagroupes.org/"],
[data-url*="://framalistes.org/"] {
  header .title-bar,
  .top-bar-right {
    padding-right: 55px;
  }
}

/* ~mindmap (wisemapping dashboard) */
@media (max-width: 720px) {
  [data-url*="://framindmap.org"] #header {
    padding-right: 55px;
  }
}
/* ~mindmap (wisemapping editor) */
[data-url*="://framindmap.org/c/maps"][data-url*="/edit"] #headerActions,
[data-url*="://wisemapping.framasoft.org/c/maps"][data-url*="/edit"] #headerActions {
  padding-right: 55px;
}

/* ~pad (etherpad) */
[data-url*=".framapad.org/p/"] .toolbar .menu_right {
  padding-right: 55px;
}

@media (max-width: 576px) {
  [data-url*=".framapad.org/p/"] .toolbar .menu_right {
    padding-right: 0px;
  }

  [data-url*=".framapad.org/p/"] {
    #f-nav #f-corner {
      display: none;
    }
  }
}

[data-url*="://mypads.framapad.org"],
[data-url*="://mypads2.framapad.org"] {
  .lang.container {
    padding: 0;
  }

  .lang.container select {
    margin-bottom: -115px;
    margin-right: 30px !important;
    position: static;
    margin-left: auto !important;
    width: max-content;
    margin-top: 55px;
  }

  .container-fluid .btn-group.pull-right {
    padding-right: 35px;
  }
}

/* ~piaf (mastodon) */
@media (min-width: 576px) {
  [data-url*="://framapiaf.org"] {
    .layout-single-column .ui__header {
      padding-right: 50px;
    }

    .layout-multiple-columns {
      .columns-area .column:last-of-type .column-header {
        padding-right: 35px;
      }
    }
  }
}

@media (max-width: 576px) {
  [data-url*="://framapiaf.org"] {
    #f-nav #f-corner {
      display: none;
    }
  }
}

/* ~team (mattermost) */
[data-url*="://framateam.org"] {
  #channel-header .flex-parent,
  #navbar_wrapper #navbar,
  #sbrSearchFormContainer,
  #global-header {
    padding-right: 55px;
  }

  .FullScreenModal .close-x {
    top: 42px;
    right: 42px;
  }
}

/* ~tube */
[data-url*="://framatube.org"] #f-corner,
[data-url*="://framatube.org"] #f-sidebar .b-sidebar-outer {
  z-index: 17501;
}

[data-url*="://framatube.org"] .header {
  padding-right: 35px;
}

@media (max-width: 600px) {
  [data-url*="://framatube.org"] .header {
    padding-right: 50px;
  }
}

/* ~vox */
[data-url*="://framavox.org"] #app header {
  padding-right: 45px;
}

@media (max-width: 576px) {
  [data-url*="://framavox.org"] #app .v-dialog .v-card__title {
    padding-top: 35px;
  }
}

/* Mute */
[data-url*="://framacarte.org"][data-url*="/map/"],                     /* dans uMap */
[data-url*="://beta.framacarte.org"][data-url*="/map/"],                /* dans uMap */
[data-url*="://framadrive.org"][data-url*="index.php/app"]:not([data-url*="registration"]),
[data-url*="://framadrive.org"][data-url*="index.php/setting"],
[data-url*="://framaforms.org/enquete-sur-le-site-de-franceconnect"],   /* Enquête FranceConnect */
[data-inframe="true"] {
  #f-nav #f-corner {
    display: none;
  }
}
