.f-bs4 {
  #fsb-info,
  #f-modal-about,
  #f-fb-faq,
  #f-fb-participate {
    @import '~vue-fs-commons/src/scss/frama/bootstrap4/links';
  }

  .b-sidebar-header .btn-link {
    background: none; /* VueFS */
  }
}

.f-bs4 #f-sidebar {
  text-shadow: none; /* ~bookin */

  * {
    box-sizing: border-box !important; /* ~calc */
    max-width: initial; /* ~forms */
  }

  p {
    line-height: 1.4rem;
  }

  h1, h2, h3, h4, h5, h6, .h1,
  .h2, .h3, .h4, .h5, .h6 {
    padding-top: 0; /* bs3 */
    font-family: 'Roboto', sans-serif; /* ~book */
  }

  h1, h1 a {
    padding-top: 0; /* ~memo */
    padding-bottom: 0; /* ~listes */
    background: transparent; /* ~listes */
    font-family: 'Roboto', sans-serif; /* ~memo */
    letter-spacing: normal; /* ~memo */
    font-size: 1.75rem /* =.h3 ~memo */
  }

  h2::after {
    content: none; /* ~contact */
    border: none;  /* ~contact */
    margin: 0; /* ~contact */
  }

  .alert, .card-body {
    ul:last-child,
    p:last-child {
      margin-bottom: 0;
    }
  }

  .btn {
    white-space: normal; /* bs3 */
    text-transform: none; /* ~pad */
  }

  .row {
    margin-bottom: 0;
    background: transparent; /* ~listes */
    box-shadow: none; /* ~listes */
    float: none; /* ~etherpad */
  }

  .row.fb-o7 {
    background: var(--f-o7); /* ~listes */
  }

  .logo-80 {
    width: 80px;
    height: 80px;
  }

  .b-sidebar {
    font-family: 'Roboto', sans-serif;

    .close {
      width: fit-content; /* ~carte */
    }

    .b-sidebar-footer {
      height: auto; /*  ~agenda */
      margin-top: 0; /* ~carte */
      padding: 0; /* ~listes */
    }
  }

  .s-help {
    .b-sidebar-body {
      background: var(--f-o2);
    }

    @media (min-width: 576px) {
      .b-sidebar {
        width: 500px;
      }
    }
  }

  #fsb-help-search {
    border-radius: 0;
  }

  #fsb-search-input {
    background: var(--f-g2);
  }

  header {
    margin-bottom: 0; /* ~board */
    border-bottom: none; /* ~board */

    > strong {
      width: 100%;
    }

    #f-brand {
      text-decoration: none;

      img {
        width: 50px;
        height: 50px;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
      }

      span {
        vertical-align: sub;
        font-family: 'Dejavu Sans',sans-serif;
      }
    }

    .btn-light {
      background: var(--f-g2);

      &:hover, &:focus, &:active {
        background: var(--f-g3) !important;
        border-color: transparent;
      }
      &.active {
        background: lighten(c(g, 4), 5%) !important;
      }
    }

    .btn-group .btn-light,
    #btn-about {
      border: 1px solid darken(c(g, 4), 5%) !important;
    }

    #btn-about {
      width: fit-content; /* ~carte */
    }
  }

  /* Closed / Invisibilized services */
  .fs-listes,
  .fs-bee, .fs-clic, .fs-lab, .fs-my, .fs-news,
  .fs-petitions, .fs-pic, .fs-story, .fs-vectoriel,
  .fs-bin, .fs-memo, .fs-drop, .fs-maestro, .fs-bookin, .fs-link,
  .fs-bag, .fs-notes, .fs-site, .fs-wiki,
  .fs-pack, .fs-sphere, .fs-diaspora,
  .fs-board, .fs-slides {
    display: none !important;
  }

  #fsb-grid {
    .fs-newsletter, .fs-rss, .fs-news-pt, .fs-news-mz
    .fs-diaspora, .fs-mastodon, .fs-twitter, .fs-facebook,
    .fs-wikipedia {
      display:none;
    }
  }

  .fa-up-right-from-square {
    color: var(--f-d6);
    position: absolute; /* keep it on the same line */
    margin-left: 2px;
    display: inline;

    &.fa-xs {
      font-size: .5em;
      margin-top: .25em;
    }
  }

  #fsb-category, #fsb-grid {
    .btn-light {
      border: none;
      background: transparent; // var(--f-d1);

      .btn-block  {
        font-weight: bold;
        color: var(--f-g7);
        i {
          color: var(--f-g6);
        }
      }

      &:hover, &:focus, &:active {
        background: var(--f-d1);
      }

      b {
        font-weight: bold;
      }

      .fa-block-center {
        margin-top: .25rem;
      }

      .fa-up-right-from-square {
        top: 5px;
        right: 20px;
      }
    }
  }

  #fsb-category {
    .fa-chevron-up,
    .fa-chevron-left,
    .fa-chevron-right,
    .fa-chevron-down {
      color: var(--f-g6);
      float: right;
      margin-top: .25rem;
      margin-right: .5rem;
    }

    .fa-chevron-left,
    .fa-chevron-right {
      float: left;
    }

    .collapsed > .fa-chevron-up,
    .collapsed > .fa-chevron-left,
    .not-collapsed > .fa-chevron-right,
    .not-collapsed > .fa-chevron-down {
      display: none;
    }

    .not-collapsed,
    .collapsed {
      border: none;
    }

    .collapsed {
      border-top: 1px solid var(--f-g4);
    }

    .not-collapsed {
      background: var(--f-g6);
      border-color: var(--f-g3);
      border-bottom: 1px solid var(--f-g4);
      text-align: center !important;
      color: var(--f-g1);
      .fas, .far, .fab {
        color: var(--f-g2)
      }
    }

    .dio  .not-collapsed {
      background: var(--f-f7);
    }

    .collapse {
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;

      &.show {
        background: var(--f-g3);
        border-color: var(--f-g3);

        .collapsed {
          background: var(--f-g3);
          border-color: var(--f-g3);
          border-top: 1px solid var(--f-g4);
          padding-left: 15px;
        }

        .not-collapsed {
          background: var(--f-o3);
          border: none;
          border-left: 5px solid var(--f-o6);
          text-align: left !important;
          padding-left: 10px;

          color: var(--f-d9);
          .fas, .far, .fab {
            color: var(--f-o6)
          }
        }

        .show {
          background: var(--f-g2);
          border-color: var(--f-g2);
          border-left: 5px solid var(--f-o6);
          border-right: none;
          border-bottom: none;
        }
      }
    }
  }

  .c-lvl1:not(.s-info) {
    .b-sidebar-footer,
    .c-lvl1.collapsed,
    .c-lvl1.collapse:not(.show) {
      display: none;
    }
  }

  #fsb-search {
    .list-group-item {
      background: none;
      display: none;
      border: none;
      border-radius: 0;
      padding: 0;

      a {
        background: none;
        color: var(--f-g7);
        display: block;
        font-weight: bold;
        padding: 10px 15px; /* replace .list-group-item padding */
        text-align: left; /* ~carte */
      }
    }


    .search-results {
      > div,
      > div > div {
        display: none;
      }

      .search {
        display: block;
      }

      h2 {
        margin-top: .5rem;
        margin-left: .5rem;
      }

      [class*="c-dio"] {
        border-left: .5rem solid var(--f-f6);
        padding: .5rem .5rem .5rem 0;
        margin: 0 -.5rem 0 -1rem;
      }

      .c-edu, .c-empow, .c-arch, .c-follow {
        border-left: .5rem solid var(--f-g5);
        padding: .5rem .5rem .5rem 0;
        margin: -.5rem -.5rem 0rem -1rem;

        h2 {
          background: var(--f-g6);
          color: #fff;
          font-weight: normal;
          font-size: 1rem;
          margin: -.5rem -1rem 0 -.5rem !important;
          padding: .5rem 1rem .5rem 1rem;
        }
      }

      .c-dio {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;

        h2 {
          background: var(--f-f7);
          color: #fff;
          font-weight: normal;
          font-size: 1rem;
          margin: 0 -1rem 0 -.5rem !important;
          padding: .5rem 1rem .5rem 1rem;
        }
      }
    }

    .btn-link.float-right {
      background: none;
      opacity: .8;

      &:hover, &:focus{
        opacity: 1;
      }
    }

    .exo-search {
      .fas, .far, .fab {
        margin-top: 0;
        margin-right: .25rem;
        padding: .5em;
      }
    }
  }

  .s-info #fsb-search {
    display:none;
  }

  #fsb-info {
    h2 {
      a {
        color: var(--f-f9);
        text-decoration: none;
      }

      img {
        width: 5rem;
        height: 5rem;
        margin-bottom: .5rem;

        &.rounded-circle {
          width: 8rem;
          height: 8rem;
          border: .25rem solid var(--f-g4);
        }
      }
    }

    .alert {
      img {
        border: 3px solid transparent;
        min-width: 4.5rem;
        width: 4.5rem;
        height: 4.5rem;
      }

      p:last-child,
      ul:last-child {
        margin: 0;
      }

      ul {
        padding-left: 1.5rem;
        list-style-type: disclosure-closed;
        margin-top: -.5rem !important;
      }
    }

    .alert-warning a {
      color: var(--f-o8);
    }

    &.info-calc .alert img { border-color: #677b3b; }
    &.info-date .alert img { border-color: #ecba3a;}
    &.info-pad .alert img { border-color: #4a8deb; }
    &.info-talk .alert img { border-color: #645e5c; }
  }

  #fsb-grid {
    h2 {
      color: var(--f-g6);
      border-bottom: 1px solid var(--f-g5);
      background: var(--f-g2);
    }

    > div:first-of-type h2 { margin-top: 0 !important; }

    ul {
      margin: 0;
    }

    li {
      min-height: 100px;
      font-size: 14px;

      .fa-block-center::before {
        height: 1.27em;
        margin-bottom: 5px;
      }
    }
  }

  #fsb-feedback {
    .btn-block {
      text-align: left;
      background: #fff;
      opacity: 0.8;
      position: relative;

      &:hover {
        box-shadow: 0px 2px 6px var(--f-g5);
        opacity: 0.9;
      }

      .badge {
        position: absolute;
        display: block;
        top: 0.5em;
        left: 4em;
        z-index: 1;
        padding: 0;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
      }
    }
  }

  #f-fb-menu {
    .subtitle {
      color: #fff;
      background: var(--f-o7);
      text-align: center;
      padding: .5rem 1rem 1rem;
      margin:-1rem -1rem 1rem;
      font-size: 0.875rem;
    }

    #f-fb-faq,
    #f-fb-participate {
      .row {
        margin: 0;
      }
    }
  }

  footer .search-form {
    border-top: 2px solid var(--f-o6);
    width: 100%;
    margin-bottom: 0; /* ~forms */
    padding-bottom: .5rem; /* avoid scrollbar */
    background: var(--f-d1);

    .input-group {
      margin-bottom: 0; /* ~listes */
    }

    input {
      border-radius: 0;
      border: none;
    }
    .btn-light {
      background: #fff;
      border: none;
    }
  }
}
