<template>
  <section
    id="ft-what"
    ref="ft-what"
  >
    <b-container class="px-md-0">
      <b-row>
        <b-col>
          <h2
            class="sr-only"
            v-html="$t('team.what.title')"
          ></h2>
          <b-tabs
            v-model="tabs.tabindex"
            align="center"
            card
            pills
          >
            <b-tab
              active
              class="p-0"
              :title="$t('team.what.tab1.label')"
              @click="tabs.animate = false"
            >
              <b-row>
                <b-col cols="12">
                  <web-screen :img="`${$t('baseurl')}img/team/01-discuter.jpg`" />
                </b-col>
                <b-col
                  class="px-3 text-center"
                  cols="12"
                >
                  <div v-html="$t('team.what.tab1.desc')"></div>
                </b-col>
              </b-row>
            </b-tab>
            <b-tab
              class="p-0"
              :title="$t('team.what.tab2.label')"
              @click="tabs.animate = false"
            >
              <b-row>
                <b-col cols="12">
                  <web-screen :img="`${$t('baseurl')}img/team/02-canaux.jpg`" />
                </b-col>

                <b-col
                  class="px-3 text-center"
                  cols="12"
                >
                  <div v-html="$t('team.what.tab2.desc')"></div>
                </b-col>
              </b-row>
            </b-tab>
            <b-tab
              class="p-0"
              :title="$t('team.what.tab3.label')"
              @click="tabs.animate = false"
            >
              <b-row>
                <b-col cols="12">
                  <web-screen :img="`${$t('baseurl')}img/team/03-pimpez.jpg`" />
                </b-col>
                <b-col
                  class="px-3 text-center"
                  cols="12"
                >
                  <div v-html="$t('team.what.tab3.desc')"></div>
                </b-col>
              </b-row>
            </b-tab>
            <b-tab
              class="p-0"
              :title="$t('team.what.tab4.label')"
              @click="tabs.animate = false"
            >
              <b-row>
                <b-col cols="12">
                  <web-screen :img="`${$t('baseurl')}img/team/04-rechercher.jpg`" />
                </b-col>
                <b-col
                  class="px-3 text-center"
                  cols="12"
                >
                  <div v-html="$t('team.what.tab4.desc')"></div>
                </b-col>
              </b-row>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import WebScreen from '../../../../commons/components/WebScreen.vue';

export default {
  components: {
    WebScreen,
  },

  data() {
    return {
      tabs: {
        count: Object.keys(this.$t('team.what')).filter(k => k.includes('tab')).length,
        tabindex: 0,
        animate: true,
      },
    };
  },

  created() {
    const animation = setInterval(() => {
      if (this.tabs.animate) {
        if (this.tabs.tabindex + 1 < this.tabs.count) {
          this.tabs.tabindex += 1;
        } else {
          this.tabs.tabindex = 0;
          this.tabs.animate = false;
        }
      } else {
        clearInterval(animation);
      }
    }, 7500);
  },
};
</script>

<style lang="scss">
#ft-what {
  padding: 2rem 0 6rem;

  .card-header {
    border: none !important;
    background: transparent !important;
    padding: 0;

    .nav li {
      background: var(--f-g1);
      padding: 0.75rem 1.25rem;
    }
  }

  .nav-pills > li + li {
    margin-left: 0px;
  }

  .card-body .row {
    align-items: center;
  }

  h3 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
    margin: 0.5rem 0 1rem;

    @media (max-width: 992px) {
      font-size: 2rem;
    }

    @media (max-width: 768px) {
      font-size: 1.75rem;
    }
  }

  p {
    font-size: 1.35rem;
    font-weight: 200;
    line-height: 1.4;

    @media (max-width: 992px) {
      font-size: 1rem;
    }
  }
}
</style>
