.f-bs4 #f-contact-form {
  form {
    display: inline; /* ~calc */
  }

  .form-group {
    margin-left: 0; /* soutenir~ */
  }

  .text-muted {
    display:none;
  }

  .alert, .form-control, .btn {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
  }

  .input-group-prepend {
    border-right: 0;
    border-left: 0;
    background: #fff;
    padding: 0.375rem;
    text-align: center;
  }

  input, textarea, select {
    border-right: 0;
    border-left: 0;
    box-shadow: none;
    opacity: 1;
  }

  .alert {
    margin: 0;
    border: 0;
    font-size: 13px;
    font-weight: normal;

    a {
      background: linear-gradient(to top, #ccc 1px, transparent 1px);

      &:hover,
      &:focus {
        background: linear-gradient(to top, #bbb 1px, #ffffff77 1px);
        text-decoration: none;
      }
    }
  }

  textarea.form-control {
    border: 0;
    border-left: 1px dashed #ccc;
  }

  #f-cf-name-wrapper,
  #f-cf-email-wrapper {
    margin-bottom: 0;

    .input-group-prepend, input {
      border-top: 0;
    }

    .alert {
      padding-top: 5px;
      background: transparent; /* participer~, docs~, ~cloud, ~board */
      color: inherit; /* ~board */
      letter-spacing: initial; /* participer~ */
    }
  }

  #f-cf-subject-wrapper,
  #f-cf-concerne-wrapper {
    .input-group-prepend, input, select {
      border-top: 0;
    }
  }

  #f-cf-message-wrapper {
    margin-bottom: 0;
    background: #fff;

    .input-group-prepend {
      vertical-align: top;
      padding-top: 10px;
      border: 0;
    }

    .alert {
      margin: 5px 5px 0;
      padding: 5px 10px;
    }
  }

  #f-cf-subject-wrapper,
  #f-cf-concerne-wrapper {
    margin-bottom: 0;
  }

  #f-cf-file-wrapper {
    background: #fff;
    padding: 5px 0;

    .input-group-prepend, input[type="file"] {
      border-bottom: 0;
      height: auto;
      line-height: 30px;
    }

    label {
      display: none;
    }
  }

  #f-cf-concerne-wrapper,
  #f-cf-file-wrapper {
    .input-group-prepend {
      cursor: help;
    }
  }
}