#modal-fsDocs {
  .modal-content {
    border-radius: 0;
    border: none;
    border-top: 8px solid #DBA306;
    height: 94vh;
    background: #fff; /* ~team */
  }

  .embed-responsive-4by3 {
    padding-bottom: calc(94vh - 68px);
  }

  .modal-header {
    display: none;
  }

  .modal-body {
    padding: 0;
    max-height: none;
    background: transparent; /* ~team */
  }

  .modal-footer {
    border: none;
    margin: 0; /* ~mindmap */
    background: transparent; /* ~team */
  }
}