.f-bs4 #f-feedback {
  .moveable {
    position: fixed;
    bottom:  100px;
    right: 100px;
    z-index: 1041; /* over main menu ; behind docs modal backdrop */
    text-shadow: none; /* ~bookin */
    line-height: 1.5; /* ~agenda */
  }

  * {
    box-sizing: border-box !important; /* ethercalc, etherpad */
  }

  .btn {
    border: none;
    border-radius: 0;
    text-transform: uppercase;
  }

  .fa {
    padding: 0; /* ~board */
  }

  .fa-inverse {
    color: #fff; /* ~board */
  }

  .fa-arrows {
    font-size: 20px;
    cursor: move;
  }

  .fa-stack .fa-stack-2x { /* ~colibri */
    height: inherit;
    width: inherit;
    margin-top: 0;
    margin-left: 0;
  }

  .form-control {
    max-width: 100%; /* ~board */
  }

  .row {
    width: auto; /* ~carte */
    max-width: none; /* ~carte */
  }

  .f-fb-toggle {
    display: block;
    opacity: .9;
    transition: all .2s ease-out;
    text-align: center;
    height: 44px;
    line-height: 44px;
    border-radius: 21px;
    padding: 0 10px;
    background-color: #fff;
    color: #666;
    box-shadow: $button-ombre; /* 0 1px 2px 0 rgba(50,54,63,.19),0 6px 18px 0 rgba(50,54,63,.39);*/
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border: none; /* dio */
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }

    &.visited {
      background: transparent;
      box-shadow: none;

      .fa-arrows:last-of-type {
        display: none;
      }
    }

    &:not(.visited) {
      .d-none {
        display: inline-block !important;
      }

      .sr-only {
        display: none;
      }

      .fa-arrows:last-of-type {
        display: inline-block;
      }
    }

    &.active {
      .fa-map-signs {
        display: none;
      }

      .fa-arrows:first-of-type {
        display: inline-block;
      }
    }

    &:not(.active) {
      .fa-map-signs {
        display: inline-block;
      }

      .fa-arrows {
        display: none;
      }
    }

    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active {
      padding: 0;
      background: transparent !important;
      border: none;
      color: inherit !important;
      line-height: inherit;
      box-shadow: none;
    }

    .fa {
      margin: 0 -10px;
      line-height: 42px; /* ~pack */
      vertical-align: top; /* ~pack */
    }

    .fa-map-signs,
    .fa-arrows {
      height: 44px;
      width: 44px;
      line-height: 42px;
      border-radius: 21px;
      background: #eb7239;
    }

    .fa-arrows {
      background: #666;
      color: #fff;
    }

    .fa-inverse + span {
      margin: 0 0 0 15px;
      display: inline-block;
    }

    span + .fa-arrows {
      position: absolute;
      width: 2em;
      height: 2em;
      line-height: 2em;
      font-size: 0.6rem;
      margin-top: -3rem;
      right: 0.25rem;
      background: #666a;
    }
  }
}

@media (max-width:768px) {
  .f-bs4 #f-feedback .moveable {
    display: none;
  }
}

@import "main";
@import "docs";
@import "faq";
@import "participate";
@import "contact";
